{% load i18n %}
<!-- <script type="text/javascript" src="{{STATIC_URL}}opening_hours/jquery-1.9.1.min.js"></script> -->
<style type="text/css">
.time {
    width: 40px;
}

#form_clock .text input {width: 45px;}

/*#form_clock .text {width: 400px;}*/
</style>
<script type="text/javascript">

function is_time(val){
    return val.match(/\d+:\d+/) != null && val.match(/\d+:\d+/).length == 1 && val.match(/\d+:\d+/)[0] == val;
}

function get_json() {
    return JSON.parse($("#{{name}}_input_out").val());
}

function set_json(json) {
    $("#{{name}}_input_out").val(JSON.stringify(json));
}

function open_end(day){
    $(".button-clic[day="+day+"]").toggleClass("down");
    cb = $("#"+day+"_note");
    cb.attr("checked", !cb.attr("checked"));
}

function add(day) {
    json = get_json()
    json[day].push(["", ""]);
    $(".{{name}}_ajax").remove();
    $("#main").html("");
    set_json(json);
    loads(json);

}

function rm(day) {
    json = get_json()
    if(confirm('remove this opening hours?')) {
        json[day].pop();
        $(".{{name}}_ajax").remove();
        $("#main").html("");
        set_json(json);
        loads(json);
    }
}

function dumps(){
    json = get_json();
    ["mo", "tu", "we", "th", "fr", "sa", "su"].forEach(function (day) {
        val = $("#"+day+"_note").prop("checked");
        if (val == true) json[day+"_note"] = "true";
        else json[day+"_note"] = "false";

        val = $("#"+day+"_note").prop("checked");
        if (val == true) json[day+"_note"] = "true";
        else json[day+"_note"] = "false";

        for (l = 0; l < json[day].length; l++) {
            val = $("#"+day+"_"+l+"_from").val();
            json[day][l][0] = val;
            if (is_time(val)){
                $("#"+day+"_"+l+"_from").attr("style", "border-bottom: 1px solid #4F526A;");
            }
            else {
                $("#"+day+"_"+l+"_from").attr("style", "border: 1px solid red;");
            }

            val = $("#"+day+"_"+l+"_to").val();
            json[day][l][1] = val;
            if (is_time(val)){
                $("#"+day+"_"+l+"_to").attr("style", "border-bottom: 1px solid #4F526A;");
            }
            else {
                $("#"+day+"_"+l+"_to").attr("style", "border: 1px solid red;");
            }
        }
    });
    set_json(json);
}

function loads(){
    json = get_json();
    data = json;
    console.log(json);
    get_days().forEach(function (day) {
        var i = 0;
        note = "";
        down = "";
        if (json[day[0]+"_note"] == "true") {
            note = "checked";
            down = "down";
        }
        $("#main").append("<div id=\""+day[0]+"\"></div>");
        if (data[day[0]].length == 0) {
            // json[day[0]].push(["", ""]);
            // $("#"+day[0]).append("<div id=\"form_clock\">\
            //     <div class=\"text\" id=\""+day[0]+"_"+i+"_"+"opening\">\
            //         <div class=\"title\" style=\"background:#50546C;\"><span>"+day[1]+"</span></div>\
            //         <input type=\"text\" id=\""+day[0]+"_"+i+"_from\" value=\"\">\
            //         <input type=\"text\" id=\""+day[0]+"_"+i+"_to\" value=\"\">\
            //     </div>\
            //     <div class=\"button\">\
            //     </div>\
            //     <div class=\"button\">\
            //         <img src=\"\" alt=\"\">\
            //     </div>\
            //     <div class=\"button\">\
            //         <img src=\"\" alt=\"\">\
            //     </div>\
            // </div>");
            $("#"+day[0]).append("<div id=\"form_clock\">\
                <div class=\"text\" id=\""+day[0]+"_"+i+"_"+"opening\">\
                    <div class=\"title\" style=\"background:#50546C;\"><span>"+day[1]+"</span></div>\
                </div>\
                <div class=\"button-clic "+down+"\" day=\""+day[0]+"\" onclick=\"add('"+day[0]+"')\"></div>\
                <input type=\"checkbox\" id=\""+day[0]+"_note\" style=\"display:none;\" "+note+">\
                <div class=\"button\">\
                    <img src=\"{{STATIC_URL}}gg365/img/icon_add_green.png\" onclick=\"add('"+day[0]+"')\" alt=\"\">\
                </div>\
                <div class=\"button\">\
                    <img src=\"{{STATIC_URL}}gg365/img/icon_remove_red.png\" onclick=\"rm('"+day[0]+"')\" alt=\"\">\
                </div>\
            </div>");
        }
        else {
            data[day[0]].forEach(function(opening){
                if (!i){
                    $("#"+day[0]).append("<div id=\"form_clock\">\
                        <div class=\"text\" id=\""+day[0]+"_"+i+"_"+"opening\">\
                            <div class=\"title\" style=\"background:#50546C;\"><span>"+day[1]+"</span></div>\
                            <input type=\"text\" id=\""+day[0]+"_"+i+"_from\" value=\""+opening[0]+"\">\
                            <input type=\"text\" id=\""+day[0]+"_"+i+"_to\" value=\""+opening[1]+"\">\
                        </div>\
                        <div class=\"button-clic "+down+"\" day=\""+day[0]+"\" onclick=\"open_end('"+day[0]+"')\"></div>\
                        <input type=\"checkbox\" id=\""+day[0]+"_note\" style=\"display:none;\" "+note+">\
                        <div class=\"button\">\
                            <img src=\"{{STATIC_URL}}gg365/img/icon_add_green.png\" onclick=\"add('"+day[0]+"')\" alt=\"\">\
                        </div>\
                        <div class=\"button\">\
                            <img src=\"{{STATIC_URL}}gg365/img/icon_remove_red.png\" onclick=\"rm('"+day[0]+"')\" alt=\"\">\
                        </div>\
                    </div>");
                }
                else {
                       $("#"+day[0]).append("<div id=\"form_clock\">\
                        <div class=\"text\">\
                            <div class=\"title\" style=\"background:#262833;\"></div>\
                            <input type=\"text\" id=\""+day[0]+"_"+i+"_from\" value=\""+opening[0]+"\">\
                            <input type=\"text\" id=\""+day[0]+"_"+i+"_to\" value=\""+opening[1]+"\">\
                        </div>\
                    </div>");
                }
                i++;
            })
        }
    })

    set_json(json);
}

function get_days(){
    json = get_json();
    if (json["first_day"] == "su"){
        return [["su", "{% trans "Sunday"%}"], ["mo", "{% trans "Monday"%}"], ["tu", "{% trans "Tuesday"%}"], ["we", "{% trans "Wensday"%}"], ["th", "{% trans "Thursday"%}"], ["fr", "{% trans "Friday"%}"], ["sa", "{% trans "Saturday"%}"]];
    }
    else {
        return [["mo", "{% trans "Monday"%}"], ["tu", "{% trans "Tuesday"%}"], ["we", "{% trans "Wensday"%}"], ["th", "{% trans "Thursday"%}"], ["fr", "{% trans "Friday"%}"], ["sa", "{% trans "Saturday"%}"], ["su", "{% trans "Sunday"%}"]];
    }
}

$(document).ready(function(){
    $("#{{name}}_input_out").val($("#{{name}}_input_in").val())

    json = get_json()
    if (! json.hasOwnProperty("first_day")) json["first_day"] = "mo";
    $("#{{name}}_first_day").val(json["first_day"]);
    if (json["first_day"] == "mo") $("#select_line").html("{% trans "Monday" %}");
    if (json["first_day"] == "su") $("#select_line").html("{% trans "Sunday" %}");
    set_json(json);

    loads();
    setInterval(dumps, 100);

    setInterval(function (){
        json = get_json();
        if ($("#{{name}}_first_day").val() != json["first_day"]) {
            json["first_day"] = $("#{{name}}_first_day").val();
            set_json(json);

            // $("#main").html("");
            $("#main").html("");
            loads();
        }
    }, 100);
})
</script>

<div id="form" class="text">
            <div class="title"><span>First day of week</span>
                <div class="right_help">
                        <a href="" title="{{help_text}}"><div class="button_help"></div></a>
                    </div>
            </div>
            <script type="text/javascript">
$(document).ready(function(){
    $('.front-select-toggle-phone1_type').click(function(){
       $("#ul_phone1_type").toggle();
    });
    $(".choice-phone1_type").click(function(){
        $("#{{name}}_first_day").val($(this).attr("value"));
        $(".choose-phone1_type").html($(this).attr("value2"));
        $("#ul_phone1_type").toggle();
    })
});
</script>

<link rel="stylesheet" type="text/css" href="/static/static/gg365/widgets/front_select.css">

<span class="choose-phone1_type front-select-toggle-phone1_type" style="float:left; padding-top:5px; padding-left:8px" id="select_line"></span>
<div class="front-select">
<div class="front-select-arrow front-select-toggle-phone1_type" style="background-image: url(/static/static/gg365/img/arrow_down.png); "></div>
<ul style="display: none;" id="ul_phone1_type">
    <li class="choice-phone1_type front-select" value="mo" value2="{% trans "Monday" %}"><span>{% trans "Monday" %}</span></li>
    <li class="choice-phone1_type front-select" value="su" value2="{% trans "Sunday" %}"><span>{% trans "Sunday" %}</span></li>
</ul>
</div>
       </div>
<input id="{{name}}_first_day" type="hidden" value="">

<input id="{{name}}_input_in" type="hidden" value='{{value|safe}}'>
<input id="{{name}}_input_out" type="hidden" name="{{name}}" value="">

<div id="main"></div>