<script type="text/javascript" src="/static/static/django_s4/s4-drive-upload.js"></script>
<script type="text/javascript">
$(function(){
    $("#file_{{name}}").change(function(){
        file = $("#file_{{name}}")[0].files[0];
        s4Upload("/s4/upload/", file, function(url){
            $('.{{name}}-img').attr('src', url);
            $("#file_text_{{name}}").val(url);
        })
     });
})
</script>
<div id="form" class="profil_image">
    <div class="bodytitle">
        <div class="image">
            <img class="{{name}}-img" src="{% if value %}{{value2}}{% else %}/static/static/gg365/img/profil_image.png{% endif %}" style="width:150px;height:150px;">
        </div>
    </div>
    
    <div class="bodytitle" style="width:310px; height:35px;">
        <span>Profile picture</span>
    </div>

    <div id="button-wrapper">
    <div id="file-wrapper">
        <input type="file" id="file_{{name}}" name="file_{{name}}" class="file">
        <div class="button_selectfile"><span><div class="icon_file">Vybrat soubor</div></span></div>
        <input type="hidden" id="file_text_{{name}}" name="{{name}}" value="{{value}}">
    </div>

    <div id="fileremove-wrapper">
        <div class="button_removefile" onclick="$('.{{name}}-img').attr('src', '/static/static/gg365/img/profil_image.png');$('#{{name}}-clear').attr('checked', true);$('#file_text_{{name}}').val('');"><span><div class="icon_removefile">Smazat soubor</div></span></div>
        <input type="checkbox" name="{{name}}-clear" id="{{name}}-clear" style="display:none;">
    </div>

    </div>

</div>
