{% load i18n %}
<script>
var _selectRange = false, _deselectQueue = [];
$(function() {
    $( "#selectable" ).selectable({
        selecting: function (event, ui) {
            if (event.detail == 0) {
                _selectRange = true;
                return true;
            }
            if ($(ui.selecting).hasClass('ui-selected')) {
                _deselectQueue.push(ui.selecting);
            }
            $("#"+$(ui.selecting).attr("input-id")).attr('checked','checked');
        },
        unselecting: function (event, ui) {
            $(ui.unselecting).addClass('ui-selected');
        },
        stop: function () {
            if(!_selectRange) {
                $.each(_deselectQueue, function (ix, de) {
                    $(de).removeClass('ui-selecting').removeClass('ui-selected');
                    $("#"+$(de).attr("input-id")).removeAttr('checked');
                });
            }
            _selectRange = false;
            _deselectQueue = [];
        }
    });
});
</script>
<link rel="stylesheet" href="/static/static/gg365/widgets/jquery-ui.css" />
<script src="/static/static/gg365/widgets/jquery-ui.js"></script>

<div id="no-ahref-decoration">
    <ol id="selectable">
        {% for input in inputs %}
            <li class="ui-widget-content chb_{{name}} {%if input.3%}ui-selected{%endif%}" input-id="id_{{name}}_{{input.0}}">
                <a href="#" title="" class="chb_{{name}}"><div class="select-gallery"><div class="text">{{input.1}}</div></div></a>
                <input id="id_{{name}}_{{input.0}}" name="{{name}}" type="checkbox" value="{{input.2}}" {%if input.3%}checked="checked"{%endif%} style="display:none;" />
            </li>
        {% endfor %}
    </ol>
</div>