{% load i18n %}
<script type="text/javascript">
$(document).ready(function(){
    $('.front-select-toggle-{{name}}').click(function(){
       $("#ul_{{name}}").toggle();
    });
    $(".choice-{{name}}").click(function(){
        $("#id_{{name}}").val($(this).attr("value"));
        $(".choose-{{name}}").html($(this).attr("value2"));
        $("#ul_{{name}}").toggle();
    })
});
</script>
<link rel="stylesheet" type="text/css" href="/static/static/gg365/widgets/front_select.css"></head>

<input type="hidden" name="{{name}}" id="id_{{name}}" value="{{value}}">
<span class="choose-{{name}} front-select-toggle-{{name}}" style="float:left; padding-top:5px; padding-left:8px">{{selected}}</span>
<div class="front-select">
<div class="front-select-arrow front-select-toggle-{{name}}" style="background-image: url(/static/static/gg365/img/arrow_down.png); "></div>
<ul style="display: none;" id="ul_{{name}}">
    {% for choice in choices %}
        <li class="choice-{{name}} front-select" value="{{choice.0}}" value2="{{choice.1}}"><span>{{choice.1}}</span></li>
    {% endfor %}
</ul>
</div>