{% load i18n %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="/static/static/gg365/widgets/leaflet-0.5/leaflet.js"></script>
<link rel="stylesheet" href="/static/static/gg365/widgets/leaflet-0.5/leaflet.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="/static/static/gg365/widgets/leaflet-0.5/leaflet.ie.css" />
<![endif]-->

<style type="text/css">
#map { height: 300px; width: 435px;}

#search-in-map {z-index: 100; position:absolute; float:left; margin-left:50px;}
#search-in-map .wrapper {width:100%; float:left;}
#search-in-map input {float:left; background: url(/static/static/gg365/img/map-search_body_input.png) repeat-x;/* width:260px;*/ height: 29px; /*font-size: 16px; */
color: #972959; border: none; padding:0; padding-left: 8px; padding-right: 8px; border:1px solid #d0d0d0;}
#search-in-map .button {/*float:left;*/ display: inline-block; margin-top:5px; margin-left:-5px; cursor:pointer; background: url(/static/static/gg365/img/map-search_body_button.png) repeat-x; height: 31px; padding-left:10px; padding-right: 14px; color: #ffffff; font-weight: bold;}
#search-in-map .button:hover {background: url(/static/static/gg365/img/map-search_body_button_hover.png) repeat-x; ;}
#search-in-map .icon {float:left; background: url(/static/static/gg365/img/search-map_icon.png) left no-repeat; height: 18px; margin-top:6px; padding-left: 24px;}
#search-in-map .button span {float:left; margin-top: -3px;}
#map-search-results {float:left; width:268px; margin:0; padding:0; margin-top:-14px; margin-left:5px;}
#map-search-results ul {float:left; display: block; }
#map-search-results li {list-style-type: none;}
#map-search-results li a {float:left; color:#5b5b5b; cursor: pointer; padding-left:8px; padding-top:2px; padding-bottom:2px; margin-bottom:1px; line-height:20px; text-decoration: none; opacity: 0.9;
filter: alpha(opacity=80); width:100%; background: #f2f2f2; border: 1px solid #cbcbcb; }
#map-search-results li a:hover {opacity: 1; filter: alpha(opacity=100);}


</style>


<div id="search-in-map" style="margin-top: 36px;">
    <div class="wrapper">
        <input type="text" id="map-search" onsubmit="return false;">
        <a id="map-search-button"><div class="button"><div class="icon"><span>Search</span></div></div></a>
    </div>
    <ul id="map-search-results"></ul>
</div>

<div style="position:absolute;margin-top: 36px;">
    <div id="map" style="width:480px;"></div>
</div>

<input type="text" id="map-search" onsubmit="return false;">


<input class="geoposition" id="id_{{name}}_0" name="{{name}}_0" type="hidden" value="{{lat}}" />
<input class="geoposition" id="id_{{name}}_1" name="{{name}}_1" type="hidden" value="{{lon}}" />

<script type="text/javascript">
 function setGPS(lat, lon){
        latlng = {"lat":lat, "lng":lon};
        $("#id_{{name}}_0").val(lat);
        $("#id_{{name}}_1").val(lon);
        if (marker != undefined ) map.removeLayer(marker);
        marker = L.marker(latlng).addTo(map);
        map.setView(latlng, 11);
        $("#map-search-results").html("");
    }

function get_geolocation(lat, lon, callback){
    url = "http://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lon+"&sensor=false";
    $.getJSON(url, function(json){
        address = ["", "", "", ""];
        console.log(json["results"][0]["address_components"]);
        json["results"][0]["address_components"].forEach(function(obj){
            if (obj["types"].indexOf("locality") != -1) address[0] = obj["long_name"];
            if (obj["types"].indexOf("administrative_area_level_1") != -1) address[1] = obj["long_name"];
            if (obj["types"].indexOf("country") != -1) address[2] = obj["long_name"];
        })
        callback(address);
    });
}

var marker;
var map;
$(document).ready(function(){
    zoom = $("#id_geo__zoom").val();
    if (!zoom || zoom == "None") zoom = 9;
    map = L.map('map').setView([{{lat}}, {{lon}}], zoom);
    L.tileLayer('{{CACHED_MAP_SERVER}}', {maxZoom: 18}).addTo(map);
    map.on('click', onMapClick);

    var popup = new L.Popup();
    marker = L.marker([{{lat}}, {{lon}}]).addTo(map);

    function onMapClick(e) {
        $("#id_{{name}}_0").val(e.latlng.lat);
        $("#id_{{name}}_1").val(e.latlng.lng);;
        if (marker != undefined ) map.removeLayer(marker);
        marker = L.marker(e.latlng).addTo(map);
        console.log(e.latlng);
        get_geolocation(e.latlng.lat, e.latlng.lng, function(address){
            console.log(address);
            $("#id_geo__city").val(address[0]);
            $("#id_geo__region").val(address[1]);
            $("#id_geo__country").val(address[2]);
            $("#id_geo__continent").val(address[3]);
        });
    }

    setInterval(function(){
        $("#id_geo__zoom").val(map.getZoom());
    }, 500);

    function getSearchResults(){
        var geocoder = new google.maps.Geocoder();
        geocoder.geocode({
            "address": $("#map-search").val()
        }, function(results) {
            $("#map-search-results").html("");
            results.forEach(function(result){
                $("#map-search-results").append("<li><a onclick=\"setGPS("+result["geometry"]["location"]["lb"]+", "+result["geometry"]["location"]["mb"]+")\">"+result["formatted_address"]+"</a></li>");
            });
        });
    }

    $('#map-search').keypress(function(e){
        if ( e.which == 13 ) {
            getSearchResults();
            return false;
        }
    });


    $("#map-search-button").click(getSearchResults);
});
</script>