{% load i18n %}
<div class="category">
    <div class="title"><span>Kategorie:</span></div>
    <!-- CSS PRO DROPDOWN / www.lwis.net/free-css-drop-down-menu -->
    <link href="{{STATIC_URL}}gg365/widgets/dropdown.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}gg365/widgets/dropdown.vertical.rtl.css" media="screen" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
    $(document).ready(function(){
        $(".fss-option").click(function (){
            o = $(this).attr("option");
            console.log($("#checkbox"+o).attr("checked"));
            if ($("#checkbox"+o).is(':checked') == false || $("#checkbox"+o).attr("checked") != "checked") {
                $("#option"+o).attr('selected','selected');
                $("#checkbox"+o).attr('checked','checked');
            }
            else {
                $("#option"+o).removeAttr('selected');
                $("#checkbox"+o).removeAttr('checked');
            }
        })
    })
    </script>

    <select name="{{name}}" multiple="multiple" style="display:none;">
    {% for category in tree %}
    {% for subcategory in category.2 %}
    <option  id="option{{subcategory.pk}}" value="{{subcategory.pk}}" {%if subcategory.checked%}selected{%endif%}/>{{subcategory.name}}</li>
    {% endfor %}
    {% endfor %}
    </select>

    <ul id="nav" class="dropdown dropdown-horizontal">
        <li class="dir">Choose category
            <ul>
                {% for category in tree %}
                    <li class="dir">{{category.1}}
                        <ul>
                            {% for subcategory in category.2 %}
                               <li class="fss-option" option="{{subcategory.pk}}"><input type="checkbox" id="checkbox{{subcategory.pk}}" value="{{subcategory.pk}}" {%if subcategory.checked%}checked{%endif%}/> {{subcategory.name}}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
    <div class="button-add">
        <div class="icon"></div>
    </div>
</div>