{% load i18n %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<form><input type="text" name="{{spec.field}}__icontains"><input type="submit" value=">"></form>
