{% extends "gg365/base.html" %}
{% load i18n %}
{% block navigation %}
<div id="header-navigation">
    <div class="wrapper">
    <div class="body">
        <div class="navigation2">
            {% if not user.is_anonymous %}
            <ul>
                <!-- class="activ" -->
                {% include "gg365/dashboard/menu.html" %}
            </ul>
            {% endif %}
        </div>
    </div>
    </div>
    <div class="clear"></div>
    {% block subnavigation %}
    {% endblock subnavigation %}
</div>
{% endblock navigation %}
{% block base_body %}
<div id="edit-place">
    <div class="wrapper">
        {% block body %}
            <div id="edit-place">
            <div class="wrapper">
                <div class="background" style="background:#262833; width:500px;">
                    <div class="body">
                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
                <!-- RIGHT PANEL -->    
                <div class="background" style="background:#464a60; width:250px;">
                    <div class="body">
                        <div class="help">
                            <!-- NADPIS -->
                            <h2 class="nobold">Nápověda</h2>
                            <div class="line"></div>

                            <!-- TEXT -->
                            <h3>Zem čáry ó dře gumou zajel krámy krade</h3>
                            <p>Hrát, pomáhám hodí pařízková. Kopl he hubatou bratrovi k spacím mě, lokálech ex nu obraceje 56 divadlo lidmi, vrátit do čí ó cela vešel.</p>     

                            <h3>Zem čáry ó dře gumou zajel krámy krade</h3>
                            <p>Hrát, pomáhám hodí pařízková. Kopl he hubatou bratrovi k spacím mě, lokálech ex nu obraceje 56 divadlo lidmi, vrátit do čí ó cela vešel.</p> 

                            <h3>Zem čáry ó dře gumou zajel krámy krade</h3>
                            <p>Hrát, pomáhám hodí pařízková. Kopl he hubatou bratrovi k spacím mě, lokálech ex nu obraceje 56 divadlo lidmi, vrátit do čí ó cela vešel.</p> 

                            <h3>Zem čáry ó dře gumou zajel krámy krade</h3>
                            <p>Hrát, pomáhám hodí pařízková. Kopl he hubatou bratrovi k spacím mě, lokálech ex nu obraceje 56 divadlo lidmi, vrátit do čí ó cela vešel.</p> 

                            <h3>Zem čáry ó dře gumou zajel krámy krade</h3>
                            <p>Hrát, pomáhám hodí pařízková. Kopl he hubatou bratrovi k spacím mě, lokálech ex nu obraceje 56 divadlo lidmi, vrátit do čí ó cela vešel.</p> 

                            <a href="" title=""><div class="button-faq">FAQ (často kladené otázky)</div></a>
                        </div>
                    </div>
                </div></div>
            </div>
        {% endblock body %}
    </div>
</div>
{% endblock base_body %}