{% load form_utils_tags %}
        <script src="/static/static/gg365/widgets/jquery-ui.js"></script>
        <link rel="stylesheet" href="/static/static/gg365/widgets/jquery-ui.css" />

<script>
  $(function() {
    $( document ).tooltip({
      position: {
        my: "center bottom-20",
        at: "center top",
        using: function( position, feedback ) {
          $( this ).css( position );
          $( "<div>" )
            .addClass( "arrow" )
            .addClass( feedback.vertical )
            .addClass( feedback.horizontal )
            .appendTo( this );
        }
      }
    });
  });
 </script>

 <style>
  .ui-tooltip, .arrow:after {
    background: #CB3E7B;
    border: 2px solid #d55a90;
  }
  .ui-tooltip {
    color: #FFF;
    line-height: 16px;
    font-family: Verdana;
    font-size: 12px;
    box-shadow: 0 0 7px black;
  }

  .ui-widget-content {
    left:400px;
  }

  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: -16px;
  }
  .arrow.top {
    top: -15px;
    bottom: auto;
  }
  .arrow.left {
    left:50%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }
  </style>
                    <style type="text/css">
                        #form .button_help {cursor:pointer; background:url(/static/static/gg365/img/form_button_help.png) no-repeat; width:18px; height:18px;}
                        #form .button_help:hover {background: url(/static/static/gg365/img/form_button_help_hover.png) no-repeat;}
                        #form .left_help {float:left; width:22px; margin-left:8px; margin-top:8px;}
                        #form .right_help {float:right; margin-top:8px; margin-right:8px;}
                    </style>
{% load i18n %}
{% csrf_token %}
{% for field in form %}
    {% if field|field_type:"Textarea" %}
        <div id="form" class="textarea">
            <div class="title"><span>{{field.label}}</span>
                {% if field.help_text %}
                    <div class="right_help">
                        <a href="" title="{{field.help_text}}"><div class="button_help"></div></a>
                    </div>
                {% endif %}
            </div>
            {{field}}
        </div>
        <div id="form" class="text" style="height:100%;">
            {{field.errors}}
        </div>
    {% elif field.id_for_label == "id_geo__coords_0" %}
        <div id="form" class="textarea" style="height:336px;">
            <div class="title">
                <span>{{field.label}}</span>
                {% if field.help_text %}
                    <div class="right_help">
                        <a href="" title="{{field.help_text}}"><div class="button_help"></div></a>
                    </div>
                {% endif %}
            </div>
            {{field}}
        </div>
        <div id="form" class="text" style="height:100%;">
            {{field.errors}}
        </div>
    {% elif field.id_for_label == "id_subcategory" %}
        {{field}}
    {% elif field.id_for_label == "id_profile_picture" or field.id_for_label == "id_picture" %}
        {{field}}
    {% elif field.id_for_label == "id_opening_hours" %}
        {{field}}
    {% elif field.id_for_label == "id_geo__zoom" %}
        <input type="hidden" name="geo__zoom" id="id_geo__zoom" value="{{field.value}}">
    {% else %}
        <div id="form" class="text">
            <div class="title">
                <span>{{field.label}}</span>
                {% if field.help_text %}
                    <div class="right_help">
                        <a href="" title="{{field.help_text}}"><div class="button_help"></div></a>
                    </div>
                {% endif %}
            </div>
            {{field}}
        </div>
        <div id="form" class="text" style="height:100%;">
            {{field.errors}}
        </div>
    {% endif %}
{% endfor %}