{% load i18n %}
<li {% if menu1 == "profile" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:profile:basic_info" %}">Profile</a></li>
<li {% if menu1 == "place" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:place:list" %}">Places</a></i>
<li {% if menu1 == "event" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:event:list" %}">Events</a></i>
<li {% if menu1 == "settings" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:settings:basic" %}">Settings</a></li>
<li {% if menu1 == "gallery" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:gallery:list" %}">Images</a></li>
<li {% if menu1 == "videogallery" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:videogallery:list" %}">Videos</a></li>
<li><a href="{% url "gg365:dashboard:logout" %}">Logout</a></li>