{% load i18n %}
<script type="text/javascript" src="{{STATIC_URL}}opening_hours/jquery-1.9.1.min.js"></script>
<style type="text/css">
.time {
    width: 40px;
}

.hover { cursor: hand; cursor: pointer; }
</style>
<script type="text/javascript">

function is_time(val){
    return val.match(/\d+:\d+/) != null && val.match(/\d+:\d+/).length == 1 && val.match(/\d+:\d+/)[0] == val;
}

function get_json() {
    return JSON.parse($("#{{name}}_input_out").val());
}

function set_json(json) {
    $("#{{name}}_input_out").val(JSON.stringify(json));
}

function add(day) {
    json = get_json()
    json[day].push(["", ""]);
    $(".{{name}}_ajax").remove();
    $(".day").remove();
    set_json(json);
    loads(json);

}

function rm(day) {
    json = get_json()
    if(confirm('remove this opening hours?')) {
        json[day].pop();
        $(".{{name}}_ajax").remove();
        $(".day").remove();
        set_json(json);
        loads(json);
    }
}

function dumps(){
    json = get_json();
    ["mo", "tu", "we", "th", "fr", "sa", "su"].forEach(function (day) {
        val = $("#"+day+"_note").prop("checked");
        if (val == true) json[day+"_note"] = "true";
        else json[day+"_note"] = "false";

        val = $("#"+day+"_note").prop("checked");
        if (val == true) json[day+"_note"] = "true";
        else json[day+"_note"] = "false";

        for (l = 0; l < json[day].length; l++) {
            val = $("#"+day+"_"+l+"_from").val();
            json[day][l][0] = val;
            if (is_time(val)){
                $("#"+day+"_"+l+"_from").attr("style", "border: 1px solid #ccc;");
            }
            else {
                $("#"+day+"_"+l+"_from").attr("style", "border: 1px solid red;");
            }

            val = $("#"+day+"_"+l+"_to").val();
            json[day][l][1] = val;
            if (is_time(val)){
                $("#"+day+"_"+l+"_to").attr("style", "border: 1px solid #ccc;");
            }
            else {
                $("#"+day+"_"+l+"_to").attr("style", "border: 1px solid red;");
            }
        }
    });
    set_json(json);
}

function loads(){
    json = get_json();
    get_days().forEach(function (day) {
        if (! $("."+day).length) {
            $("#{{name}}_opening_hours_table").append("<tr class=\""+day+" day\"><td>"+day+"</td></tr>");
        }
        for (l = 0; l < json[day].length; l++) {
            $("."+day).append("<td class=\"{{name}}_ajax\"><input type=\"text\" id=\""+day+"_"+l+"_from\" name=\""+day+"_"+l+"_from\" value=\""+json[day][l][0]+"\" class=\"time\"></td><td class=\"{{name}}_ajax\"><input type=\"text\" id=\""+day+"_"+l+"_to\" name=\""+day+"_"+l+"_to\" value=\""+json[day][l][1]+"\" class=\"time\"></td>")
        }
        if(json[day+"_note"] == "true") checked = "checked";
        else checked = "";
        $("."+day).append("<td class=\"{{prefix}}_ajax\" colspan=\"10\"><input type=\"checkbox\" id=\""+day+"_note\" value=\"true\" class=\".{{prefix}}_ajax\" style=\"width:15px;\" "+checked+">&nbsp;<img class=\"hover\" onclick=\"add('"+day+"');\" src=\"{{STATIC_URL}}admin/img/icon_addlink.gif\"></a>&nbsp;<img  class=\"hover\" onclick=\"rm('"+day+"');\" src=\"{{STATIC_URL}}admin/img/icon-no.gif\"></td>");
    });
    set_json(json);
}

function get_days(){
    json = get_json();
    if (json["first_day"] == "su"){
        return ["su", "mo", "tu", "we", "th", "fr", "sa"];
    }
    else {
        return ["mo", "tu", "we", "th", "fr", "sa", "su"];
    }
}

$(document).ready(function(){
    $("#{{name}}_input_out").val($("#{{name}}_input_in").val())

    json = get_json()
    if (! json.hasOwnProperty("first_day")) json["first_day"] = "mo";
    $("#{{name}}_first_day").val(json["first_day"]);
    set_json(json);

    loads();
    setInterval(dumps, 100);

    setInterval(function (){
        json = get_json();
        if ($("#{{name}}_first_day").val() != json["first_day"]) {
            json["first_day"] = $("#{{name}}_first_day").val();
            set_json(json);

            $(".day").remove();
            loads();
        }
    }, 100);
})
</script>
first day of week
<select id="{{name}}_first_day">
    <option value="mo">mo</option>
    <option value="su">su</option>
</select>
<input id="{{name}}_input_in" type="hidden" value='{{value|safe}}'>
<input id="{{name}}_input_out" type="hidden" name="{{name}}" value="">
<table id="{{name}}_opening_hours_table">
    
</table>
