{% extends "gg365/dashboard/base.html" %}
{% load i18n %}
{% block subnavigation %}
<div class="subnavigation">
    <div class="body">
        <ul>
            <!-- class="activ" -->
            {% include "gg365/dashboard/place/menu.html" %}
        </ul>
    </div>
</div>
{% endblock subnavigation %}
{% block body %}
    <div class="background" style="background:#262833; width:532px; padding-bottom:8px;">
        <div class="body">
            <div class="body">
                {% block content2 %}
                {% block gallery_header %}
                    <h2>Galleries</h2>
                {% endblock gallery_header %}
                <div class="line"></div>
                {% block gallery_actions %}
                    <div class="button-add-photo"><div class="icon"></div><a href="{% url "gg365:dashboard:gallery:add" %}">Add gallery</a></div>
                {% endblock gallery_actions %}
                <div class="clear"></div>
                {% block content %}
                {% endblock content %}
                {% endblock content2 %}
            </div>
        </div>
    </div>
    <!-- RIGHT PANEL -->    
    <div class="background" style="background:#464a60; width:218px;">
        <div class="body">
            <div class="help">
                <!-- NADPIS -->
                <h2 class="nobold">Nápověda</h2>
                <div class="line"></div>
                    {% block help %}
                        <!-- TEXT -->
                        <h3>Zem čáry ó dře gumou zajel krámy krade</h3>
                        <p>Hrát, pomáhám hodí pařízková. Kopl he hubatou bratrovi k spacím mě, lokálech ex nu obraceje 56 divadlo lidmi, vrátit do čí ó cela vešel.</p>     

                        <h3>Zem čáry ó dře gumou zajel krámy krade</h3>
                        <p>Hrát, pomáhám hodí pařízková. Kopl he hubatou bratrovi k spacím mě, lokálech ex nu obraceje 56 divadlo lidmi, vrátit do čí ó cela vešel.</p> 

                        <h3>Zem čáry ó dře gumou zajel krámy krade</h3>
                        <p>Hrát, pomáhám hodí pařízková. Kopl he hubatou bratrovi k spacím mě, lokálech ex nu obraceje 56 divadlo lidmi, vrátit do čí ó cela vešel.</p> 

                        <h3>Zem čáry ó dře gumou zajel krámy krade</h3>
                        <p>Hrát, pomáhám hodí pařízková. Kopl he hubatou bratrovi k spacím mě, lokálech ex nu obraceje 56 divadlo lidmi, vrátit do čí ó cela vešel.</p> 

                        <h3>Zem čáry ó dře gumou zajel krámy krade</h3>
                        <p>Hrát, pomáhám hodí pařízková. Kopl he hubatou bratrovi k spacím mě, lokálech ex nu obraceje 56 divadlo lidmi, vrátit do čí ó cela vešel.</p> 
                    {% endblock help %}
                <a href="" title=""><div class="button-faq">FAQ (často kladené otázky)</div></a>
            </div>
        </div>
    </div>
{% endblock body %}