{% extends "gg365/dashboard/gallery/base.html" %}
{% load i18n %}
{% block gallery_header %}
    <h2>Gallery {{gallery}}</h2>
{% endblock gallery_header %}
{% block gallery_actions %}
{% include "gg365/jswidgets/modal.html" %}
{% include "gg365/jswidgets/uploading.html" %}
{# include "gg365/jswidgets/lightbox.html" #}
<!-- BUTTON PRIDAT FOTKU --><style type="text/css">
                        .button_selectfile {float:left; background: url(/static/static/gg365/img/button_select_file_body.png) repeat-x; height:39px; color: #f195bc; font-size: 16px; font-weight: bold; font-weight: bold; cursor: pointer; border: 1px solid #a73565; }
                        .button_selectfile span {float: left; padding-top:6px; margin-left:4px; margin-right:10px;}
                    </style>

                    <style type="text/css">
                        #file-wrapper {position: relative; display: inline-block; overflow: hidden; cursor: pointer;}
                        #file-wrapper input {position: absolute; top: 0; right: 0; filter: alpha(opacity=1); opacity: 0.01; -moz-opacity: 0.01; cursor: pointer;}
                        #edit-place .button-add-photo {cursor:pointer; background: #454a60; width:238px; font-size: 14px; color: #a7adcb; height: 26px;}
                        #edit-place .button-add-photo .icon {float:left; height:20px; width:20px; background: url(/static/static/gg365/img/icon_add2.png) no-repeat; margin-right: 6px; margin-top: 3px; margin-left: 6px;}
                    </style>
    <script type="text/javascript" src="{{STATIC_URL}}django_s4/s4-drive-upload.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#files").change(function(){
            show_uploading_gif();
            files = $("#files")[0].files;
            s4MultiUpload("{{DRIVE_UPLOAD_URL}}", files, function(data){
                // proccess files & append to images list
                hide_uploading_gif()
                $.get("/gallery/{{gallery.id_hash}}/mass_image_upload/"+data.join().replace(/\//g,"..."));
                data.forEach(function(d){
                    $("#photos").append("<div class=\"photo\" style=\"margin-top:10px;\">\
                        <div class=\"photo-image\">\
                                <div class=\"description\">\
                                    <div class=\"body\">\
                                        <h4 style=\"float:left; line-height:18px; margin-top:10px; margin-left:6px; font-weight:normal;\">{{picture.description}}</h4>\
                                    </div>\
                                </div>\
                            <div class=\"zoom\"></div>\
                            <img src=\""+d+"\" alt=\"\">\
                        </div>\
                    </div>")
                })
            })
        })
    })
    </script>

    <!-- <div class="button-add-photo"><div class="icon"></div> -->
    <!-- </div> -->
    <div id="file-wrapper">
            <div class="button-add-photo"><div class="icon"></div>
                <input type="file" name="files[]" id="files" style="width:240px;" multiple>
                Vyberte soubor
            </div>
    </div>
    <a href="{% url "gg365:dashboard:gallery:edit"  gallery.id_hash %}"><div class="button-edit-album"><div class="icon"></div>{% trans "Edit gallery" %}</div></a>
{% endblock gallery_actions %}
{% block content %}
<script type="text/javascript">
function DropDown(el) {
    this.dd = el;
    this.initEvents();
}
DropDown.prototype = {
    initEvents : function() {
        var obj = this;

        obj.dd.on('click', function(event){
            $(this).toggleClass('active');
            event.stopPropagation();
        }); 
    }
}
</script>
<div id="photos">
{% for picture in pictures %}
    <div class="photo" style="margin-top:10px;" id="picture-{{gallery.pk}}-{{picture.pk}}">
        <div class="photo-image">
                <div class="description">
                    <div class="body">
                        <h4 style="float:left; line-height:16px; margin-top:5px; margin-left:6px; font-weight:normal;overflow:hidden;height:28px;" id="picture-descripton-{{picture.id_hash}}">{{picture.description|truncatechars:45}}</h4>
                    </div>
                </div>
            <div id="menu-dropdown">
                        <div id="d{{picture.pk}}" class="wrapper-dropdown-2" tabindex="1"><div class="image-pencil"></div>
                            <ul class="dropdown2">
                                <li><a href="#" class="setasmain" galleryHash="{{gallery.id_hash}}" pictureHash="{{picture.id_hash}}">{% trans "Set as cover picture" %}</a></li>
                                <li><a href="#" id="rename-{{gallery.pk}}-{{picture.pk}}" galleryHash="{{gallery.id_hash}}" pictureHash="{{picture.id_hash}}">{% trans "Rename" %}</a></li>
                            </ul>
                        </div>
                        <div id="d{{picture.pk}}" class="wrapper-dropdown-2" tabindex="1"><div id="rm-{{gallery.pk}}-{{picture.pk}}" class="image-remove"></div></div>
                        </div>
                        <script type="text/javascript">
                        $("#rm-{{gallery.pk}}-{{picture.pk}}").click(function(){
                            confirm2("{% trans "Realy remove this picture" %}", function(res){
                                if (res){
                                    $("#picture-{{gallery.pk}}-{{picture.pk}}").remove();
                                    $.get("{% url "gg365:gallery:remove_image" picture.id_hash %}");
                                }
                            });
                        });
                        $("#rename-{{gallery.pk}}-{{picture.pk}}").click(function(){
                            prompt2("", "{{picture.description}}", "{% trans "Rename" %}", function(description){
                                if (description){
                                    $.get("{% url "gg365:gallery:rename_image" picture.id_hash %}?description="+description);
                                    $("#picture-descripton-{{picture.id_hash}}").html(description);
                                }
                            });
                        });
                        </script>
            <!-- <a href="{{picture.picture}}" title="{{picture.description}}" data-lightbox="gallery"> -->
            <img src="{{picture.get_thumbnail_url}}" alt="">
            <!-- </a> -->
        </div>
    </div>
    <script type="text/javascript">
    $(function() {
        new DropDown( $('#d{{picture.pk}}'));
        $(".setasmain").click(function () {
            gallery_hash = $(this).attr("galleryHash");
            picture_hash = $(this).attr("pictureHash");
            $.get("/gallery/set_as_main/"+gallery_hash+"/"+picture_hash+"/");
        })
    });
    </script>
{% endfor %}
</div>
{% endblock content %}
{% block subnavigation %}{% endblock subnavigation %}