{% extends "gg365/dashboard/gallery/base.html" %}
{% load i18n %}
{% block gallery_header %}
    <h2>Image galleries</h2>
{% endblock gallery_header %}
{% block gallery_actions %}
    <div class="add-place">
    <a href="{% url "gg365:dashboard:gallery:add" %}" style="text-decoration:none;"><div class="text"><div class="icon">Add new gallery</div></div></a>
</div>
{% endblock gallery_actions %}
{% block content %}
{% include "gg365/jswidgets/modal.html" %}
<script type="text/javascript">
function DropDown(el) {
    this.dd = el;
    this.initEvents();
}
DropDown.prototype = {
    initEvents : function() {
        var obj = this;

        obj.dd.on('click', function(event){
            $(this).toggleClass('active');
            event.stopPropagation();
        }); 
    }
}
</script>

{% for gallery in galleries %}
<div class="photo" style="margin-top:10px;">
    <div class="photo-image" id="picture-{{gallery.pk}}">
            <div class="description">
                <div class="body">
                    <h4 style="float:left; line-height:16px; margin-top:5px; margin-left:6px; font-weight:normal;overflow:hidden;height:28px;">{{gallery.name|truncatechars:20}}</h4>
                </div>
            </div>
            <div id="menu-dropdown">
                    <div id="d" class="wrapper-dropdown-2" tabindex="1" style="margin-left:28px;"><div id="rm-{{gallery.pk}}" class="image-remove"></div></div>
                    </div>
                    <script type="text/javascript">
                    $("#rm-{{gallery.pk}}").click(function(){
                        confirm2("Realy remove this gallery", function (b) {
                            if (b) {
                                $("#picture-{{gallery.pk}}").remove();
                                $.get("{% url "gg365:gallery:remove_gallery" gallery.id_hash %}");
                            }
                        })
                    });
                    </script>
        <a href="{% url "gg365:dashboard:gallery:detail" gallery.id_hash %}">
            <img src="{% if gallery.main_picture %}{{gallery.main_picture.get_thumbnail_url}}{% else %}/static/static/gg365/no-image.png{% endif %}" alt="">
        </a>
    </div>
</div>
<!-- </a> -->
{% endfor %}
{% endblock content %}
{% block subnavigation %}{% endblock subnavigation %}