{% extends "gg365/dashboard/gallery/base.html" %}
{% load i18n %}
{% block content2 %}
{% include "gg365/jswidgets/uploading.html" %}
<h2>Create image gallery</h2>
<style type="text/css">
#form.text input {width: 250px; }

ul.errorlist {margin: 0;}
</style>
<form action="" method="post">
    <div class="line"></div>
    {% csrf_token %}
    <input type="hidden" id="filesList" name="images">
    {% for field in form %}
        <div id="form" class="text">
            <div class="title"><span>{{field.label}}</span></div>
            {{field}}
        </div>
        <div id="form" class="text" style="height:100%;">
            {{field.errors}}
        </div>
    {% endfor %}
    <div class="right" style="margin-bottom:10px; margin-top:5px;">
        <input type="submit" value="Save" class="sumbit1">
    </div>
</form>
<script type="text/javascript" src="{{STATIC_URL}}django_s4/s4-drive-upload.js"></script>
<script type="text/javascript">
$(document).ready(function () {
    $("#files").change(function(){
        files = $("#files")[0].files;
        show_uploading_gif();
        s4MultiUpload("{{DRIVE_UPLOAD_URL}}", files, function(data){
            // proccess files & append to images list
            $("#filesList").val(data.join());
            hide_uploading_gif();
            data.forEach(function(d){
                $("#photos").append("<div class=\"photo\" style=\"margin-top:10px;\">\
                    <div class=\"photo-image\">\
                            <div class=\"description\">\
                                <div class=\"body\">\
                                    <h4 style=\"float:left; line-height:18px; margin-top:10px; margin-left:6px; font-weight:normal;\">{{picture.description}}</h4>\
                                </div>\
                            </div>\
                        <div class=\"zoom\"></div>\
                        <img src=\""+d+"\" alt=\"\">\
                    </div>\
                </div>")
            })
        })
    })
})
</script>
<style type="text/css">
    .button_selectfile {float:left; background: url(/static/static/gg365/img/button_select_file_body.png) repeat-x; height:39px; color: #f195bc; font-size: 16px; font-weight: bold; font-weight: bold; cursor: pointer; border: 1px solid #a73565; }
    .button_selectfile span {float: left; padding-top:6px; margin-left:4px; margin-right:10px;}
</style>

<style type="text/css">
    #file-wrapper {position: relative; display: inline-block; overflow: hidden; cursor: pointer;}
    #file-wrapper input {position: absolute; top: 0; right: 0; filter: alpha(opacity=1); opacity: 0.01; -moz-opacity: 0.01; cursor: pointer;}
    #edit-place .button-add-photo {cursor:pointer; background: #454a60; width:238px; font-size: 14px; color: #a7adcb; height: 26px;}
    #edit-place .button-add-photo .icon {float:left; height:20px; width:20px; background: url(/static/static/gg365/img/icon_add2.png) no-repeat; margin-right: 6px; margin-top: 3px; margin-left: 6px;}
</style>
<div id="file-wrapper">
        <div class="button-add-photo"><div class="icon"></div>
            <input type="file" name="files[]" id="files" style="width:240px;" multiple>
            Vyberte soubor
        </div>
</div>
<div class="clear"></div>
<div id="photos"></div>
{% endblock content2 %}
{% block subnavigation %}{% endblock subnavigation %}