@charset "utf-8";
/******************* FONTS */
@font-face {
    font-family: "Calibri";
	src: url(/static/static/gg365/fonts/calibri.ttf);
    src: url(/static/static/gg365/fonts/calibri.ttf) format("truetype");
}
@font-face {
    font-family: "Calibri";
	src: url(/static/static/gg365/fonts/calibrib.ttf);
    src: url(/static/static/gg365/fonts/calibrib.ttf) format("truetype");
    font-weight:bold;
}
@font-face {
    font-family: "Calibri";
	src: url(/static/static/gg365/fonts/calibrii.ttf);
    src: url(/static/static/gg365/fonts/calibrii.ttf) format("truetype");
    font-style:italic;
}
@font-face {
    font-family: "Calibri";
	src: url(/static/static/gg365/fonts/calibriz.ttf); 
    src: url(/static/static/gg365/fonts/calibriz.ttf) format("truetype");
    font-weight:bold;
    font-style:italic;
}

/*  BASIC TEMPLATE 
*************************************/
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.nobold {font-weight: normal;}


a {color:#c7c9d2; text-decoration:underline;}
a:hover {color:#b9c3f3;}
				
body {background:url(img/background.png) repeat; padding:0px; margin:0px; font-family:Calibri;}

/* HEADER */
#header {width:100%;height:90px;background:transparent url(img/background_header.png) repeat-x top;text-align:center;}
#header .background-map {width:750px;height:88px;background:transparent url(img/background_map.png) no-repeat center top;margin:auto;}
#header .logo {width:229px;height:32px;background:transparent url(img/logo.png) no-repeat left center;float:left;margin-top:25px}

/* HEADER NAVIGATION */
#header-navigation .wrapper {width:100%;height:66px;background:transparent url(img/background_menu.png) repeat-x top;text-align:center; margin:0; padding: 0;}
#header-navigation .body {width:750px;text-align:left;margin:auto;}

#header-navigation .navigation {float:left;}				
#header-navigation .navigation .places {cursor:pointer; float:left; padding-left:16px; padding-right:22px;}
#header-navigation .navigation .places h2 span {background:url(img/icon_places.png) left no-repeat; height:24px; padding-left:28px;}
#header-navigation .navigation .places h2 {float:left; margin-top:18px; font-style:normal; font:24px 'Calibri' arial; text-shadow:1px 1px 0 #000; color:#f59bbf;}
#header-navigation .navigation .places.activ {float:left; background:url(img/headnav_hover.png) repeat-x; height:65px;}
#header-navigation .navigation .places.activ h2 span {background:url(img/icon_places_hover.png) left no-repeat; color:#FFF;}
#header-navigation .navigation .places:hover h2 span {background:url(img/icon_places_hover.png) left no-repeat; color:#FFF;}
				
#header-navigation .navigation .events {cursor:pointer; float:left; padding-left:18px; padding-right:22px;}
#header-navigation .navigation .events h2 span {background:url(img/icon_events.png) left no-repeat; height:24px; padding-left:28px;}
#header-navigation .navigation .events h2 {float:left; margin-top:18px; font-style:normal; font:24px 'Calibri' arial; text-shadow:1px 1px 0 #000; color:#f59bbf;}
#header-navigation .navigation .events.activ {float:left; background:url(img/headnav_hover.png) repeat-x; height:65px;}
#header-navigation .navigation .events.activ h2 span {background:url(img/icon_events_hover.png) left no-repeat; color:#FFF;}
#header-navigation .navigation .events:hover h2 span {background:url(img/icon_events_hover.png) left no-repeat; color:#FFF;}

#header-navigation .navigation2 ul {float:left; margin: 0; padding:0;}
#header-navigation .navigation2 li {float: left; list-style: none; height:65px;}
#header-navigation .navigation2 a {float: left; text-decoration: none; padding-top: 22px; height:43px; padding-left:12px; padding-right: 12px; text-shadow:1px 1px 0 #000; color:#f59bbf; font-size: 18px; font-weight:bold;}

#header-navigation .navigation2 a:hover {color:#f3bbd2;}
#header-navigation .navigation2 .activ a {float:left; background:url(img/headnav_hover.png) repeat-x; color: #FFF;}

#header-navigation .subnavigation {background: #8A1445; width: 100%; height: 30px; margin-top:-2px; border-bottom: 1px solid #a02d5d;}
#header-navigation .subnavigation ul {float:left; margin: 0; padding:0; width: 100%;}
#header-navigation .subnavigation li {float: left; display:inline; list-style: none;}
#header-navigation .subnavigation a {float:left; color: #e782aa; font-size: 16px; padding-top:5px; padding-left:12px; padding-right: 6px; text-decoration: none;}
#header-navigation .subnavigation a:hover {color:#f8aecc; text-decoration: underline;}
#header-navigation .subnavigation .activ a {color:#FFF; text-decoration: underline;}

#header-navigation .search {margin-top:15px;}
#header-navigation .search .body {float:left; width:auto; background:url(img/input_inhead.png) repeat-x; height:35px; width:300px; border:2px solid #a62d60; -moz-border-radius:4px; -webkit-border-radius:6px; border-radius:6px;}
#header-navigation .search input {height:22px; width:235px; padding-left:2px; margin-left:6px; font:14px 'Calibri' arial; color:#838383; background:none; border:0;}
#header-navigation .search .button {float:left; cursor:pointer; background:url(img/button_search.png) no-repeat; width:43px; height:29px; margin-top:3px; margin-right:4px;}

/* DIRECTORY */
#directory {float:left; margin-top:10px; margin-bottom:10px; width:100%; background:#3b3e52; padding-top:4px; padding-bottom:4px;}
#directory .body {width:750px; margin:0 auto; font:15px 'Calibri' arial; text-align:left; color:#8085a0; font-size:14px; text-transform:uppercase;}
#directory .body ul {float:left; width:100%; display:inline; margin:0; padding:0;}
#directory .body ul li {float:left; list-style:none; padding-left:2px; background:url(img/icon_adress_narrow.png) right no-repeat; padding-right:18px;}
#directory .body ul li.last {background:none;}
#directory .body ul li a {font:15px 'Calibri' arial; text-align:left; color:#8085a0; font-size:14px; text-decoration:none;}
#directory .body ul li a:hover {color:#d86395; text-decoration:underline;}

/* MAIN */
#wrapper {width:750px; margin:0 auto;}
#wrapper .background {float:left; width:100%; height:auto; margin-bottom:20px; margin-top:15px; background:#3B3E52; color:#C4CBED; font:15px 'Calibri' arial; line-height:25px; text-align:left;}

/* SUBMENU */
#submenu {float:left; margin-top:10px;}
#submenu a {float:left; background:#8b1446 url(img/body_submenu.png) repeat-x; height:44px; color:#a8adc6;}
#submenu a:hover {background:#8b1446 url(img/body_submenu_hover.png) repeat-x; color:#FFF;}
#submenu span {float:left; padding-left:14px; padding-right:14px; padding-top:8px;}
#submenu.activ a {background:#8b1446 url(img/body_submenu_hover.png) repeat-x; color:#FFF;}
			
#submenu_body {float:left; background:#8c1548; width:98.5%; font:12px 'Calibri' arial; padding-top:6px; padding-left:6px; padding-right:6px; padding-bottom:6px;}
#submenu_body .body {float:left; background:#3b3e52; width:100%;}
			
/* NAVMENU */
#navmenu {float:left; width:100%; background:#252838; margin:0; padding:0;}
#navmenu .menu a {float:left; height:44px; font-size:16px; color:#8e93ae; border-right:1px solid #3b3e52;}
#navmenu .menu a:hover {background:#8b1446 url(img/body_navmenu.png) repeat-x; color:#FFF;}
#navmenu .menu span {float:left; padding-left:14px; padding-right:14px; padding-top:8px;}
#navmenu .menu .activ {background:#8b1446 url(img/body_navmenu.png) repeat-x; color:#FFF;}

/* FOOTER */
#footer a {text-decoration:none;}
#footer {text-align:left; font:12px 'Calibri' arial;color:#878DAC;}
#footer .copyright {font-size:14px; color:#9fa5c7; height:43px; width:100%; background:url(img/body_footer.png) repeat-x;}
#footer .copyright .body {width:750px; margin:0 auto; padding-top:14px;}
		
#footer .navigation {float:left; padding:0; margin:0; height:auto; width:100%; background:#6b7299 url(img/body_footer_navigation.png) repeat-x;}
#footer .navigation .body {width:750px; margin:0 auto;}
		
#footer .navigation .panel {float:left; width:200px; color:#292c43; font-size:16px; line-height:22px; margin:0; margin-top:-10px; padding:0;}
#footer .navigation .panel.first {margin-left:40px;}
#footer .navigation .panel.second {margin-left:65px;}
#footer .navigation .panel.third {margin-left:43px;}
#footer .navigation .panel h4 {font-size:16px; color:#292c43; text-transform:uppercase;}
#footer .navigation .panel ul {float:left; margin-left:0; margin-top:-10px; padding:0;}
#footer .navigation .panel li {display:block; list-style:none;}
#footer .navigation .panel li a {background:url(img/narrow_navigation_footer.png) left no-repeat; height:16px; padding-left:20px; color:#ccd4fc; font-size:14px;}
#footer .navigation .panel li a:hover {background:url(img/narrow_navigation_footer_hover.png) left no-repeat; color:#171a2a; text-decoration:underline;}
#footer .navigation .shadow {float:left; background:url(img/footer_shadow.png) no-repeat; width:1px; height:173px; margin-top:20px;}

/*  PANEL -> BASIC TEMPLATE 
*************************************/
#panel .wrapper {float:left; width:100%; height:auto; margin-bottom:10px; margin-top:10px; color:#C4CBED; font:15px 'Calibri' arial; line-height:25px; text-align:left;}
#panel h2 {float:left; font-size:18px; color:#c4cbed; font-weight:normal; text-transform:uppercase;}
#panel h2 .icon-users {background:url(img/icon_online_user.png) left no-repeat; height:24px; padding-left:28px;}
#panel h2 .icon-comments {background:url(img/icon_comments.png) left no-repeat; height:24px; padding-left:28px;}

/* ONLINE USERS */
#panel .online-users {float:left; width:100%; height:auto; background:#3B3E52; margin-top:-10px;}
#panel .online-users .user {float:left; padding-left:14px; padding-right:13px; padding-top:15px; padding-bottom:5px;}
#panel .online-users .user img {float:left; width:70px; height:70px; padding-right:5px; padding-left:5px; padding-bottom:10px;}
#panel .online-users .dropdown {width:96%; height:30px; margin-left:15px; margin-right:30px; margin-bottom:15px; background:#8488a0; border-top:3px solid #5e627f; cursor:pointer;}
#panel .online-users .dropdown:hover {background:#5e627f;}
#panel .online-users .dropdown .icon {background:url(img/icon_dropdown.png) center no-repeat; height:32px;}

/* COMMENTS */
#panel .comments-banner {float:left; width:170px; margin:0; padding:0; margin-left:10px; margin-top:-10px;}
#panel .comments-body {float:left; width:570px; background:#3B3E52; margin-top:-10px;}
#panel .comments-body .write-body {margin:0; padding:0; margin-left:10px; margin-right:10x; margin-top:4px; margin-bottom:4px;}
#panel .comments-body .write-body h4 {width:100%; font-size:16px; color:#8a8fa8; text-transform:bold; margin:0; margin-bottom:4px;}
#panel .comments-body .write-body .inputwhite input {background:#f5f5f5 url(img/body_input_white.png) repeat-x; color:#686868; height:34px; width:97%; border:none; padding:0; margin:0; padding-left:8px;}
#panel .comments-body .write-body .textareawhite textarea {font-size:15px; font-family:Calibri, Arial; line-height:18px; background:#f5f5f5 url(img/body_input_white.png) repeat-x; color:#686868; height:100px; width:97%; border:none; padding:0; margin:0; padding-left:8px; padding-top:4px;}

#panel .comments-body .write-body .button-right {float:right; margin-top:8px; margin-right:8px; margin-bottom:8px;}				
#panel .comments-body .write-body .button.send {float:left; padding-left:10px; padding-right:10px; cursor:pointer; color:#FFF; font-size:14px; background:url(img/body_button_send.png) repeat-x; height:35px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
#panel .comments-body .write-body .button.send:hover {background:url(img/body_button_send_hover.png) repeat-x;}
#panel .comments-body .write-body .button.send span {float:left; padding-top:4px;}

#panel .comments {float:left; width:98.7%; background:#8c1548; margin:0; padding:0; padding-left:8px; padding-top:8px; padding-bottom:8px; border-bottom:4px solid #252838;}
#panel .comments .comment {float:left; width:98.5%; background:#4b4f65; margin:0; padding:0;}
#panel .comments .comment p {float:left; padding:0; margin:0; padding-top:6px; padding-left:8px; padding-right:8px; padding-bottom:4px; line-height:18px; color:#dddce6; font-size:12px;}
#panel .comments .comment p a {color:#dddce6; text-decoration:underline;}
#panel .comments .comment p a:hover {color:#d65d90;}
					
#panel .comments .comment .body .head1 {float:left; width:99.3%; background:#3b3e52; padding-top:4px; padding-left:4px; padding-bottom:4px;}
#panel .comments .comment .head1 a {background:url(img/icon_narrow_right.png) right no-repeat; font-size:18px; color:#aaa8d0; text-decoration:none; padding-right:18px; padding-left:8px;}
#panel .comments .comment .head1 a:hover {text-decoration:underline;}
#panel .comments .comment .head1 img {float:left; height:50px; width:50px;}
#panel .comments .comment .body .date1 {float:left; font-size:13px; color:#aaa8d0; padding-left:8px;}
					
#panel .comments .comment .body2 {float:left; margin-left:16px; width:97%;}
#panel .comments .comment .head2 {float:left; background:#575b75; width:100%; padding-top:4px; padding-bottom:4px;}
#panel .comments .comment .head2 a {float:left; background:url(img/icon_narrow_right.png) right no-repeat; font-size:18px; color:#aaa8d0; text-decoration:none; padding-right:18px; padding-left:8px;}
#panel .comments .comment .head2 a:hover {text-decoration:underline;}			
#panel .comments .comment .head2 .date {float:right; font-size:13px; color:#aaa8d0; padding-right:8px;}
					
#panel .comments .comment .function {float:left; width:100%; margin-left:8px; margin-top:4px; margin-bottom:8px; font-size:13px; color:#aaa8d0;}
#panel .comments .comment .function a {font-size:13px; color:#aaa8d0; text-decoration:none;}
#panel .comments .comment .function a:hover {color:#f887b8; text-decoration:underline;}

/* PAGENATION */
#pagenation {margin-top:6px; margin-bottom:8px; margin-left:6px; margin-right:6px;}
#pagenation .box {float:left; cursor:pointer; height:23px; border:2px solid #34384a; padding-left:8px; padding-right:8px; margin-right:3px; font-size:14px; color:#c4cbed; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; background:#585f80 url(img/pagenation_body.png) repeat-x;}
#pagenation .box:hover {background:url(img/pagenation_body_hover.png) repeat-x; color:#FFF;}
#pagenation .box.activ {background:url(img/pagenation_body_activ.png) repeat-x; color:#FFF;}
#pagenation span {float:left; margin-top:-1px;}
			
/*  PLACES TEMPLATE 
*************************************/
#places .head {float:left; background:url(img/head.png) repeat-x; margin-top:60px; height:100px; width:100%;}
#places .hotel-name {float:left; font-size:22px; color:#c4cbed; margin-left:10px;}
#places .hotel-adress {float:left; width:100%; margin-top:-38px; margin-left:178px;}
#places .logo {float:left; margin-left:15px; margin-top:-45px; width:150px; height:150px; border:1px solid #242736;}

#places .distance {float:left; background:#242736; height:20px; padding:0 8px 0 4px; margin-left:158px; font-size:12px; text-transform:uppercase; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; color:#8ace4d; margin-top:-34px;}
#places .distance .icon {background:url(img/icon_place.png) left no-repeat; height:16px; padding-left:18px; padding-top:-2px;}

#places .status_openfor {float:left; background:#242736; height:20px; padding:0 8px 0 4px; margin-left:10px; font-size:12px; text-transform:uppercase; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; color:#e3a12d; margin-top:-34px;}
#places .status_openfor .icon {background:url(img/icon_status_open2.png) left no-repeat; height:16px; padding-left:18px; padding-top:-2px;}

#places .status_open {float:left; background:#242736; height:20px; padding:0 8px 0 4px; margin-left:10px; font-size:12px; text-transform:uppercase; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; color:#b3b4b9; margin-top:-34px;}
#places .status_open .icon {background:url(img/icon_status_open.png) left no-repeat; height:16px; padding-left:18px; padding-top:-2px;}

#places .status_close {float:left; background:#242736; height:20px; padding:0 8px 0 4px; margin-left:10px; font-size:12px; text-transform:uppercase; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; color:#b3b4b9; margin-top:-34px;}
#places .status_close .icon {background:url(img/icon_status_close.png) left no-repeat; height:16px; padding-left:18px; padding-top:-5px;}

#places .place-socialsite {float:right; margin-right:14px; margin-top:20px;}

/* PANEL LEFT */
#places .panel_left {float:left; width:450px; margin-top:20px;}
#places .panel_left .description_small {float:left; width:98.4%; margin-left:8px; background:#3b3e52 url(img/body_small_text.png) repeat-x; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
#places .panel_left .description_small p {font-size:13px; color:#858895; margin:0; padding:12px 12px 16px 12px; line-height:18px;}
#places .panel_left .description_big {width: 98.4%; float:left; margin-left:8px; margin-top:-5px; background:#3b3e52 url(img/body_big_text.png) repeat-x; min-height:200px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
#places .panel_left .description_big p {font-size:14px; color:#c7c9d2; margin:0; padding:12px 12px 12px 12px; line-height:18px;}

/* PANEL RIGHT */
#places .panel_right {float:left; width:284px; margin-top:0px; margin-left:8px; margin-right:8px;}
#places .panel_right h3 {width:100%; font-size:14px; color:#c4cbed; margin-bottom:0; border-bottom:1px solid #c4cbed; font-weight:normal;}
#places .panel_right .box {background:url(img/body_place_info.png) repeat-x; height:35px; width:100%; font-size:14px; color:#c7c9d2;}
#places .panel_right .box:hover {background:url(img/body_place_info_hover.png) repeat-x; color:#d86395;}
#places .panel_right .box span {padding-left:6px;}
#places .panel_right .box p {float:left; margin:0; padding-left:8px; padding-top:4px; font-size:14px;}
#places .panel_right .contact {float:left; font-size:14px; color:#c7c9d2; margin-top:6px; padding-left:8px;}
#places .panel_right p {float:left; width:100%; margin:0; padding:0;}

#places .panel_right .button {float:right; margin-top:6px;}
#places .panel_right .read-more {background:#404457; margin:0; padding:0; height:18px; border:3px solid #2f3242; font-size:12px; color:#83879d;}
#places .panel_right .read-more:hover {background:#54596e; cursor:pointer;}
#places .panel_right .read-more  span {float:left; padding-left:8px; padding-right:16px; margin-top:-3px;}
#places .panel_right .read-more .icon {background:url(img/icon_next.png) right no-repeat; height:18px; margin-right:2px;}

/* TAGS */
#places .tags {float:left; width:460px; margin-top:15px; height:auto; margin-left:20px; display:inline;}
#places .tags .tag {float:left; color:#cccee2; font-size:14px; padding:0 8px 0 8px; margin-right:6px; margin-bottom:6px; height:20px; width:auto; background:#6f7386; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
#places .tags .tag:hover {background:#7a7e92; color:#cccee2;}
#places .tags .tag span {float:left; margin-top:-2px;}

/* BUTTONS PLACES - LIKE, FAVORITE .. */
#places .buttons-hotel {float:left; width:100%; margin-top:35px; margin-left:8px; margin-bottom:10px; padding:0;}
#places .buttons-hotel .leftbutton {float:left; padding-left:8px;}
#places .buttons-hotel .rightbutton {float:left; margin-left:8px;}
/* BUTTON: LIKE */
#places .buttons-hotel .leftbutton .like {float:left; cursor:pointer; font-size:18px; color:#ff96c6; padding:0 10px 0 14px; background:url(img/body_button_like.png) repeat-x; height:42px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;}
#places .buttons-hotel .leftbutton .like:hover {background:url(img/body_button_like_hover.png) repeat-x;}
#places .buttons-hotel .leftbutton .like.icon {background:url(img/icon_heart.png) left no-repeat; height:24px; padding-left:30px; margin-top:10px;}
/* BUTTON: FAVORITE */
#places .buttons-hotel .leftbutton .favorite {float:left; cursor:pointer; font-size:18px; color:#f0ab67; padding:0 10px 0 14px; background:url(img/body_button_favorite.png) repeat-x; height:42px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;}
#places .buttons-hotel .leftbutton .favorite:hover {background:url(img/body_button_favorite_hover.png) repeat-x;}
#places .buttons-hotel .leftbutton .favorite.icon {background:url(img/icon_star.png) left no-repeat; height:24px; padding-left:30px; margin-top:10px;}
/* BUTTON: SHOPTICKET */
#places .buttons-hotel .rightbutton .shopticket {float:left; cursor:pointer; font-size:14px; color:#93b8e0; padding:0 12px 0 12px; background:url(img/body_button_shopticket.png) repeat-x; height:37px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;}
#places .buttons-hotel .rightbutton .shopticket:hover {background:url(img/body_button_shopticket_hover.png) repeat-x;}
#places .buttons-hotel .rightbutton .shopticket span {float:left; padding-top:7px;}
/* BUTTON: RESERVE */
#places .buttons-hotel .rightbutton .reserve {float:left; cursor:pointer; font-size:14px; color:#aadb92; padding:0 12px 0 12px; background:url(img/body_button_reserve.png) repeat-x; height:37px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;}
#places .buttons-hotel .rightbutton .reserve:hover {background:url(img/body_button_reserve_hover.png) repeat-x;}
#places .buttons-hotel .rightbutton .reserve span {float:left; padding-top:7px;}

/* PHOTOGALERY */
#places .photogallery .photos {width: 738px;}
#places .photogallery {float:left;}
#places .photogallery .buttonleft {cursor:pointer; float:left; background:url(img/narrow_sliderplace_left.png) no-repeat; height:32px; width:16px; margin-top:65px; margin-left:30px; margin-right:30px;}
#places .photogallery .buttonleft:hover {background:url(img/narrow_sliderplace_left_hover.png) no-repeat;}
            
#places .photogallery .buttonright {cursor:pointer; float:right; background:url(img/narrow_sliderplace_right.png) no-repeat; height:32px; width:16px; margin-top:65px; margin-left:30px; margin-right:30px;}
#places .photogallery .buttonright:hover {background:url(img/narrow_sliderplace_right_hover.png) no-repeat;}
            
#places .photogallery .category {float:left; height:auto; margin-top:20px; margin-bottom:20px;}
            
#places .photogallery .category-image {float:left; margin-right:55px; height:150px; opacity:0.6; border:4px solid #50546a;}
#places .photogallery .category-image img {height:150px; width:150px;}
#places .photogallery .category-image.last {margin-right:0;}
#places .photogallery .category-image .description {position:absolute; width:150px;}
#places .photogallery .category-image .description p {float:left; padding-left:10px; padding-right:10px; padding-top:6px; padding-bottom:6px; margin:0; font-size:12px; line-height:14px; color:#c0bfbf;}
#places .photogallery .category-image .description .body {position:absolute; width:100%; height:50px; background:#000; opacity:0.8; margin:0; padding:0; margin-top:100px;}
#places .photogallery .category-image:hover .zoom{position:absolute; background:url(img/icon_zoom_photo.png) center no-repeat; height:100px; width:150px;}
#places .photogallery .category-image:hover {cursor:pointer; border:4px solid #696d84;}
#places .photogallery .category-image:active {border:4px solid #282a38; opacity:1.0;}
#places .photogallery .category-image.activ {border:4px solid #282a38; opacity:1.0;}
            
#places .photogallery .category-head {background:url(img/category_head.png) repeat-x; height:43px; width:100%; padding:0; margin:0;}
#places .photogallery .category-head h2 {float:left; margin-left:10px; margin-top:7px; color:#a8adc6; background:url(img/icon_photo.png) left no-repeat; padding-left:40px; height:29px; font:24px 'Calibri' arial; font-style:normal;}
        
#places .photogallery .photo-image {/*float:left;*/ display: inline-block; margin-left:20px; margin-bottom:10px; height:150px; border:4px solid #50546a;}
#places .photogallery .photo-image img {height:150px; width:150px;}
#places .photogallery .photo-image .description {position:absolute; width:150px;}
#places .photogallery .photo-image .description p {float:left; padding-left:6px; padding-top:6px; padding-bottom:6px; margin:0; font-size:11px; line-height:14px; color:#c0bfbf;}
#places .photogallery .photo-image .description .body {position:absolute; width:100%; height:40px; background:#000; opacity:0.8; margin:0; padding:0; margin-top:110px;}
#places .photogallery .photo-image:hover .zoom {position:absolute; background:url(img/icon_zoom_photo.png) center no-repeat; height:100px; width:150px;}
#places .photogallery .photo-image:hover {cursor:pointer; border:4px solid #696d84;}
#places .photogallery .photo-image:active {border:4px solid #282a38; opacity:1.0;}
#places .photogallery .photo-image.activ {border:4px solid #282a38; opacity:1.0;}

#places .photogallery .pagenation {width:100%;}
#places .photogallery .page {margin:0 auto; width:100px;}
#places .photogallery .page .action {float:left; width:20px; margin-left:9px; font:36px 'Calibri' arial; color:#6f7285; text-decoration:none;}
#places .photogallery .page .number {float:left; margin-top:16px; font:14px 'Calibri' arial; color:#6f7285; text-decoration:none; font-weight:bold;}
#places .photogallery .page .action:hover {color:#999db7;}

#places .place_medals {float:right; height:30px; width:auto; margin-top:-40px; margin-right:10px;}

/*  ARTICLES TEMPLATE 
*************************************/
#articles .banner {width:100%; height:90px;}
#articles h2 {font-size:22px; color:#c4cbed; padding:0; margin:0; margin-top:10px; padding-bottom:6px;}
#articles p {float:left; line-height:20px; font-size:14px; color:#c7c9d2; padding:0; margin:0; width:100%; margin-top:5px; margin-bottom:5px;}
#articles .line {border:none; background:transparent url(img/line_pattern.png) repeat-x; height:8px; width:100%; padding:0; margin:4px 0px 18px 0px; margin-bottom:5px; padding-bottom:0;}
#articles .body {padding-left:10px; padding-right:10px;}

#articles p a {text-decoration:underline; color:#d86e9b;}

#articles p a:hover {color:#C4CBED;}

#articles .tags {width:100%; float:left; margin-top:10px; margin-bottom:10px;}
#articles .tags .name {float:left; width:auto; color:#c7c9d2; font-size:14px; margin-top:-3px; margin-right:10px;}
#articles .tags .tag  {float:left; color:#cccee2; font-size:14px; padding:0 8px 0 8px; margin-right:6px; margin-bottom:6px; height:20px; width:auto; background:#6f7386; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
#articles .tags .tag span {float:left; margin-top:-2px;}

#articles .image .background {float:left; background:#5e637b; width:auto; padding:0; margin:0; padding-left:5px; padding-right:5px;}
#articles .image img {padding:0; margin:0;}
#articles .image .name {color:#babdce; font-size:16px; font-weight:bold; width:100%;}
#articles .image .description {float:left; margin-top:4px; margin-bottom:4px; line-height:20px; color:#babdce; font-size:13px; font-style:italic;}

#articles .button-back {float:right; margin-bottom:6px;}
#articles .back {background:#61304c; width:auto; margin:0; padding:0; height:18px; border:3px solid #2f3242; font-size:12px; color:#b17798;}
#articles .back:hover {background:#6c3755; cursor:pointer;}
#articles .back span {float:left; padding-right:8px; padding-left:14px; margin:0; margin-top:-3px;}
#articles .back .icon {background:url(img/icon_back.png) left no-repeat; height:18px; margin-left:2px;}

/*  SEARCH PAGE TEMPLATE 
*************************************/
#search_page .banner {width:100%; height:90px; margin-bottom:20px;}
#search_page h2 {font-size:22px; color:#c4cbed; padding:0; margin:0; margin-top:10px; padding-bottom:6px;}
#search_page p {float:left; line-height:20px; font-size:14px; color:#c7c9d2; padding:0; margin:0; width:100%; margin-top:5px; margin-bottom:5px;}
#search_page .line {border:none; background:transparent url(img/line_pattern.png) repeat-x; height:8px; width:100%; padding:0; margin:4px 0px 18px 0px; margin-bottom:5px; padding-bottom:0;}
#search_page .body {padding-left:10px; padding-right:10px;}

#search_page .state_image {float:left; width:100%; margin:0; padding:0; margin-top:4px; border:none;}
#search_page .state_text {margin-top:-2px; padding-left:1px;}

#search_page .button-more {float:left; width:auto; background:#ba3e74; height:20px; color:#FFF; font-size:13px;}
#search_page .button-more a, a:hover {color:#FFF;}
#search_page .button-more:hover {background:#e15f98; color:#FFF; cursor:pointer;}
#search_page .button-more span {float:left; padding-right:20px; padding-left:8px; margin:0; margin-top:-3px;}
#search_page .button-more .icon {background:url(img/icon_button_more.png) right no-repeat; height:20px; margin-right:4px;}

#search_page .tags {width:100%; float:left; margin-top:5px; margin-bottom:5px;}
#search_page .tags .name {float:left; width:auto; color:#cccee2; font-size:14px; margin-top:-3px; margin-right:10px;}
#search_page .tags .tag  {float:left; color:#cccee2; font-size:14px; padding:0 8px 0 8px; margin-right:6px; margin-bottom:6px; height:20px; width:auto; background:#6f7386; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
#search_page .tags .tag span {float:left; margin-top:-2px;}

#search_page .place {background:#363848 url(img/body_search_page.png) repeat-x; height:160px; width:100%; margin-bottom:6px;}
#search_page .place h3 {float:left; font-weight:normal; font-size:20px; color:#b3b4b9; text-decoration:underline; width:auto;}
#search_page .place h3:hover {color:#bfc6ed;}
#search_page .place a {color:#b3b4b9;}
#search_page .place a:hover {color:#bfc6ed;}
#search_page .place span.adress {float:left; margin-top:-25px; font-size:13px; color:#b3b4b9; width:100%;}
#search_page .place p {float:left; font-size:13px; color:#b3b4b9; line-height:18px;}

#search_page .place .leftside {float:left; width:22%; margin-top:6px; margin-left:6px; height:120px; border:3px solid #6c6f83;}
#search_page .place .rightside {float:left; width:75%; margin-left:8px; margin-top:-16px;}

#search_page .place .buttons {margin-top:4px;}
#search_page .place .button {float:left; margin-left:6px; background:#424557; height:20px; width:auto;}
#search_page .place .button span {float:left; padding-left:20px; padding-right:8px; margin-top:-3px;}
#search_page .place .button .comments {font-size:13px;color:#a6a8b5;}
#search_page .place .button .comments .icon {background:url(img/icon_searchpage_comments.png) left no-repeat; height:20px; margin-left:6px;}
#search_page .place .button .like {font-size:13px; color:#e56ea1;}
#search_page .place .button .like .icon {background:url(img/icon_heart_like.png) left no-repeat; height:20px; margin-left:6px;}

/*  HOME PAGE TEMPLATE 
*************************************/
#home_page .banner {width:100%; height:90px; margin-bottom: 15px;}
#home_page .news a {color: #c4cbed; text-decoration: underline;}
#home_page .news a:hover {color: #f3f5ff;}
#home_page .line {border:none; background:transparent url(img/line_pattern.png) repeat-x; height:8px; width:100%; padding:0; margin:4px 0px 18px 0px; margin-bottom:5px; padding-bottom:0;}

/* SLIDER */
#home_page .slidershow {width: 100%; margin-bottom: 60px;}
#home_page .slidershow .box {float:left; width: 100%; margin-top:155px; height:170px; position: absolute; border-top: 3px solid #000; background: #1e304a; opacity: 0.8;}
#home_page .slidershow .box .text {padding-top:6px; padding-left: 12px; padding-right: 12px; padding-bottom: 6px;}
#home_page .slidershow .box .text h2 {padding:0; margin:0; color: #f65498; font-size: 18px; text-transform: uppercase; width: 100%; margin-bottom: 6px;}
#home_page .slidershow .box .text p {margin:0; padding:0; color: #FFF; line-height: 16px; font-size: 12px;}
#home_page .slidershadow {float:left; width: 750px; margin-top:-110px; position: absolute; z-index: -1; background: url(img/slider_shadow.png) no-repeat; height:111px;}

#home_page .button-more {float:right; width:auto; background:#ba3e74; height:20px; color:#FFF; font-size:13px; margin-bottom: 6px; margin-top: 4px;}
#home_page .button-more a, a:hover {color:#FFF;}
#home_page .button-more:hover {background:#e15f98; cursor:pointer;}
#home_page .button-more span {float:left; padding-right:8px; padding-left:8px; margin:0; margin-top:2px;}

/* LEFT PANEL */
#home_page .news .left-panel {float:left; width: 400px;}
#home_page .news .left-panel h2 {text-transform: uppercase; font-weight: normal; padding:0; margin:0; font-size: 18px; color: #c4cbed;}
#home_page .news .left-panel h2 .icon {background: url(img/icon_news.png) left no-repeat; padding-left: 28px;}
#home_page .news .left-panel .image {border: none; margin: 0; padding: 0;}
#home_page .news .left-panel h3 {font-size: 16px; width: 100%; padding:0; margin:0; margin-top: 2px; margin-bottom: 2px;}
#home_page .news .left-panel p {float:left; width:100%; color: #b3b4b9; font-size: 13px; line-height: 20px; padding:0; margin:0; margin-top: 4px;}

#home_page .news .left-panel .news_box {float:left; margin-top: 5px; margin-bottom: 5px;}
#home_page .news .left-panel .box_underline {float:left; background: #42465a; height: 1px; width:100%; margin-top: 10px; margin-bottom: 10px;}
#home_page .news .left-panel .moreaction {float:left; margin-top: 10px; width: 100%;}
#home_page .news .left-panel .posted {float:left; width: 38%; margin-top:5px; color: #959cbe; font-size: 12px; font-family:Calibri, Arial;}
#home_page .news .left-panel .buttons {float:right; height: 20px; background: #464958; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#home_page .news .left-panel .buttons .comments {float:left; height:100%; font-size: 12px; color: #83879d; background: #262938;}
#home_page .news .left-panel .buttons .comments span {float:left; padding-top: 3px; padding-left: 8px; padding-right: 8px;}
#home_page .news .left-panel .buttons .comments:hover {background: #0b0d16;}

#home_page .news .left-panel .buttons .readmore {float:left; height:100%; font-size: 12px; color: #9498aa; background: #515568; padding-left: 8px; padding-right: 8px;}
#home_page .news .left-panel .buttons .readmore span {float:left; padding-top: 3px;}
#home_page .news .left-panel .buttons .readmore:hover {background: #0b0d16;}

/* RIGHT PANEL */
#home_page .news .right-panel {float:left; margin-left:14px; width: 336px;}
#home_page .news .right-panel .youtube_video {background: url(img/line_pattern.png); width: 100%; margin-bottom: 10px;}
#home_page .news .right-panel .youtube_video .wrapper {padding-top: 6px; padding-bottom: 3px; padding-left: 6px; padding-right: 6px;}
#home_page .news .right-panel .youtube_video h2 {text-transform: uppercase; font-weight: normal; padding:0; margin:0; font-size: 18px; color: #c4cbed; margin-bottom: 10px;}
#home_page .news .right-panel .youtube_video h2 .icon {background: url(img/icon_television.png) left no-repeat; padding-left: 28px;}

#home_page .news .right-panel .banner {width: 336px; height: 280px;}


/*  PROFIL PAGE TEMPLATE 
*************************************/
#profil_page .banner {margin-top:10px; width:100%; height:90px;}
#profil_page h2 {font-size:22px; color:#c4cbed; padding:0; margin:0; margin-top:10px; padding-bottom:6px;}
#profil_page p {float:left; line-height:20px; font-size:14px; color:#c7c9d2; padding:0; margin:0; margin-top:5px; margin-bottom:5px;}
#profil_page .line {border:none; background:transparent url(img/line_pattern.png) repeat-x; height:8px; width:100%; padding:0; margin:4px 0px 18px 0px; margin-bottom:5px; padding-bottom:0;}
#profil_page .body {padding-left:10px; padding-right:10px;}
#profil_page .profil_image {float: left; margin-left: 3px; margin-right: 10px;}
#profil_page .profil_image img {float:left; height:150px; width:150px; border: 3px solid #a23d68;}

#profil_page a {text-decoration: none;}
#profil_page .button-edit {width:100%; background: #762b4b;}
#profil_page .button-edit:hover {background: #682542;}
#profil_page .button-edit span {color: #bb4979; font-size: 14px; margin-left: 10px;}
#profil_page .button-edit .background-icon {float:left; background: #682542; width:30px; height:25px;}
#profil_page .button-edit .icon {float:left; background:#682542 url(img/icon_pencil.png) left no-repeat; height: 16px; width: 16px; margin-top: 4px; margin-left: 6px;}


#profil_page .social-icon {float:left; width:100%; margin-top:6px;}
#profil_page .social-icon img {float:left; margin-right: 6px;}
#profil_page h3 {padding:0; margin:0; margin-bottom: 6px; margin-top: 6px; font-weight: normal; color: #c4cbed; font-size: 22px; width: 100%;}
#profil_page h3 .online {height:16px; background: url(img/icon_status_open.png) right no-repeat; padding-right:24px;}
#profil_page h3 .offline  {height:16px; background: url(img/icon_status_close.png) right no-repeat; padding-right:24px;}
#profil_page .lineh3 {float:left; height: 2px; background: #464a60; width: 76.5%; }

/*  EDIT PLACE TEMPLATE
*************************************/
#edit-place h2 {font-size:22px; color:#c4cbed; padding:0; margin:0; margin-top:10px; padding-bottom:6px;}
#edit-place .line {border:none; background:transparent url(img/line_pattern.png) repeat-x; height:8px; width:100%; padding:0; margin:4px 0px 18px 0px; margin-bottom:5px; padding-bottom:0;}
#edit-place .wrapper {display:table; table-layout: fixed; padding-top:10px; margin-bottom:10px;}
#edit-place .background {display: table-cell; margin:0; padding: 0; float: none;}
#edit-place .body {padding-left:10px; padding-right:10px;}
#edit-place .background2 {float:left; width:100%; height:auto; margin-bottom:20px; margin-top:15px; background:#3B3E52; color:#C4CBED; font:15px 'Calibri' arial; line-height:25px; text-align:left;}


#edit-place .help h3 {color: #c4cbed; font-size: 12px; line-height: 15px; text-decoration: underline; margin: 0; padding: 0;}
#edit-place .help p {color: #c4cbed; font-size: 12px; line-height: 15px; margin: 0; padding: 0; margin-bottom: 8px;}
#edit-place .help a {text-decoration: none;}
#edit-place .help .button-faq {width: 100%; margin-top:10px; margin-bottom:10px; background: #272b3d; border-bottom: 2px solid #606682; text-align: center; font-size:12px; color: #83879d;}
#edit-place .help .button-faq:hover {background: #262833; color: #FFF;}

#edit-place .title {float:left; width:100%; height:35px; background: #50546c; font-size: 16px; color: #c4cbed; font-weight: bold; padding: 0; margin: 0; margin-bottom: 5px;}
#edit-place .title span {float:left; padding-top: 4px; padding-left: 6px; padding-right: 6px;}

/* DROPDOWN MENU */
#edit-place .category {float:left; margin-bottom: 10px;}
#edit-place ul.dropdown {padding-right: 5px; padding-bottom:5px; color: #303340; font-size: 14px; }

#edit-place ul.dropdown li {float: left; padding: 7px 10px; background-color: #717696; color: #cbd3f5; width: 190px;  text-decoration: none; border-top: 1px solid #5b5f7c; cursor: pointer; }

#edit-place ul.dropdown li.hover,
#edit-place ul.dropdown li:hover,
#edit-place ul.dropdown li.on {background-color: #8f94b5; color: #dde2f8;}

#edit-place ul.dropdown {position: relative; float: left;}
#edit-place ul.dropdown ul {width:150px; margin: 0; padding: 0; }
#edit-place ul.dropdown ul li {font-weight: normal; margin-top:-2px;}
#edit-place ul.dropdown *.dir {background-image: url(img/icon_menu_narrow_down.png); background-position: 96% 50%; background-repeat: no-repeat;}

#edit-place ul.dropdown-horizontal ul *.dir {background-image: url(img/icon_menu_narrow_right.png); background-position: 96% 50%; background-repeat: no-repeat;}
#edit-place ul.dropdown-horizontal ul *.dir:hover {background-image: url(img/icon_menu_narrow_right_hover.png);}

#edit-place .button-add {float:left; background: #3b3e52; padding-top: 5px; padding-bottom:4px; padding-left:5px; padding-right: 5px; cursor: pointer;}
#edit-place .button-add:hover {background: #464A60;}
#edit-place .button-add .icon {height: 24px; width:24px; background: url(img/icon_add.png) no-repeat;}

#edit-place .photo-image {float:left; display: inline-block; margin-left: 3px; margin-right: 3px; height:150px; margin-bottom:5px; margin-top:5px; border:4px solid #50546a;}
#edit-place .photo-image img {height:150px; width:150px;}
#edit-place .photo-image .description {position:absolute; width:150px;}
#edit-place .photo-image .description p {float:left; padding-left:6px; padding-top:6px; padding-bottom:6px; margin:0; font-size:11px; line-height:14px; color:#c0bfbf;}
#edit-place .photo-image .description .body {position:absolute; width:100%; height:40px; background:#000; opacity:0.7; margin:0; padding:0; margin-top:110px;}
#edit-place .photo-image:hover .zoom {position:absolute; background:url(img/icon_zoom_photo.png) center no-repeat; height:100px; width:140px;}
#edit-place .photo-image:hover {cursor:pointer; border:4px solid #696d84;}
#edit-place .photo-image:active {border:4px solid #a3a7c1;}
#edit-place .photo-image.activ {border:4px solid #282a38;}

/* DROPDOWN MENU IN IMAGE IN PHOTOGALERY */

#menu-dropdown *,
*:after,
*:before {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0;}

#menu-dropdown {position: absolute; margin-left:95px; margin-top:3px; z-index: 100;}
#menu-dropdown ::selection {background: transparent; } 
#menu-dropdown ::-moz-selection {background: transparent;}
#menu-dropdown .wrapper-demo {margin: 60px 0 0 0; *zoom: 1; font-weight: 400;}
#menu-dropdown .wrapper-demo:after {clear: both; content: ""; display: table;}
#menu-dropdown .wrapper-dropdown-2 .image-pencil {height: 16px; width: 16px; background: url(img/icon_small_pecnil.png) no-repeat; margin-top: 2px;}
#menu-dropdown .wrapper-dropdown-2 .image-remove {height: 16px; width: 16px; background: url(img/icon_small_close.png) no-repeat; margin-top: 2px;}
#menu-dropdown .wrapper-dropdown-2 {float: left; position: relative; width: 24px; height: 20px; margin-left: 2px; padding-left: 4px; padding-right: 4px; background: #dfe0e9; cursor: pointer; outline: none;}
#menu-dropdown .wrapper-dropdown-2 .dropdown2 {position: absolute; top: 100%; left: 0px; right: 0px; width: 180px; background: #dfe0e9; list-style: none; opacity: 0; pointer-events: none;}
#menu-dropdown .wrapper-dropdown-2 .dropdown2 li a {display: block; text-decoration: none; color: #262833; font-size: 12px;  line-height: 17px; padding: 3px; border-bottom: 1px solid #c5c6d3;}

/* Hover state */
#menu-dropdown .wrapper-dropdown-2 .dropdown2 li:hover a {background: #a3a7c1; color:#4c5065; border-bottom: 1px solid #a3a7c1;}

/* Active state */
#menu-dropdown .wrapper-dropdown-2.active:after {border-width: 0 6px 6px 6px;}
#menu-dropdown .wrapper-dropdown-2.active .dropdown2 {opacity: 1; pointer-events: auto;}

/* BUTTON ADD PHOTO */
#edit-place .button-add-photo {float: left; width:49%; cursor: pointer; background: #454a60; font-size: 14px; color: #a7adcb; height: 26px; }
#edit-place .button-add-photo .icon {float:left; height:20px; width:20px; background: url(img/icon_add2.png) no-repeat; margin-right: 6px; margin-top: 3px; margin-left: 6px;}
#edit-place .button-add-photo:hover {background: #616579;}

/* BUTTON EDIT ALBUM */
#edit-place .button-edit-album {float: right; width:49%; cursor: pointer; background: #454a60; font-size: 14px; color: #a7adcb; height: 26px; }
#edit-place .button-edit-album .icon {float:left; height:20px; width:20px; background: url(img/icon_pencil2.png) no-repeat; margin-right: 6px; margin-top: 3px; margin-left: 6px;}
#edit-place .button-edit-album:hover {background: #616579;}

/* BUTTON FAQ */
#edit-place .button-more {float:left; width:auto; background:#ba3e74; height:20px; color:#FFF; font-size:13px;}
#edit-place .button-more a, a:hover {color:#FFF;}
#edit-place .button-more:hover {background:#e15f98; color:#FFF; cursor:pointer;}
#edit-place .button-more span {float:left; padding-right:20px; padding-left:8px; margin:0; margin-top:-3px;}
#edit-place .button-more .icon {background:url(img/icon_button_more.png) right no-repeat; height:20px; margin-right:4px;}

#edit-place .sumbit1 {float:left; width:auto; background:#ba3e74; height:20px; color:#FFF; font-size:13px; border:none;}
#edit-place .sumbit1:hover {background:#e15f98; color:#FFF; cursor:pointer;}

#edit-place .add-place {background: #911a4c; height: 35px; width:100%; cursor: pointer; margin-bottom: 8px;}
#edit-place .add-place:hover {background: #9d2155;}
#edit-place .add-place .text {color: #ffa6cb; font-size: 17px; text-align: center; padding-top: 4px; font-weight: bold;}
#edit-place .add-place .icon {margin-left:8px; background: url(/static/static/gg365/img/icon-add-place.png) left no-repeat;}

#edit-place .result-place {background: #3b3e52; width:100%; cursor: pointer;}
#edit-place .result-place:hover {background: #50546c;}
#edit-place .result-place .text {color: #c4cbed; font-size: 16px; text-align: left; padding-left: 8px; padding-top:4px; padding-bottom:4px; margin-top: 4px; margin-bottom: 4px; font-weight: bold;}

#no-ahref-decoration a {text-decoration: none;}

/* FORM */
#form.text {float:left; width:100%; height:35px; background: #3b3e52; color: #c4cbed; padding: 0; margin: 0; margin-bottom: 3px;}
#form.text .title {float:left; height:100%; width:160px; background: #50546c; font-size: 16px; color: #c4cbed; font-weight: bold; padding: 0; margin: 0;}
#form.text .title span {float:left; padding-top: 4px; padding-left: 6px; padding-right: 6px;}
#form.text input {float:left; margin-left: 8px; width: 300px; margin-left: 10px;}
#form.text input[type="text"], input[type="password"]{background-color:#3B3E52;border:0px;border-bottom: 1px solid #4F526A;color:#C4CBED;font:14px 'Calibri' arial;margin:5px;padding-bottom:3px;}

#form.textarea {float:left; width:100%; background: #3b3e52; color: #c4cbed; padding: 0; margin: 0; margin-bottom: 10px;}
#form.textarea .title {float:left; width:100%; height:35px; background: #50546c; font-size: 16px; color: #c4cbed; font-weight: bold; padding: 0; margin: 0;}
#form.textarea .title span {float:left; padding-top: 4px; padding-left: 6px; padding-right: 6px;}
#form.textarea textarea {float:left; width:455px; min-height:100px; max-width:455px; min-width:455px; margin-left:8px; margin-right:8px; margin-bottom:8px; background: #3B3E52; border:none; border-bottom: 1px solid #50546c; line-height: 16px; font-size: 14px; color: #c4cbed;}

/***********************/
input[type="text"]{background-color:#3B3E52;border:0px;border-bottom: 1px solid #4F526A;color:#C4CBED;font:14px 'Calibri' arial;margin:5px;padding-bottom:3px;}

#selectable .ui-selecting {background: #50546c;}
#selectable .ui-selected {background: #911a4c; color: #FFF;}
#selectable {list-style-type: none; margin: 0; padding: 0; border: none;}
#selectable li {background: #3b3e52; width:100%; cursor: pointer; border: none;}

#edit-place .select-gallery .text {color: #c4cbed; font-size: 16px; text-align: left; padding-left: 8px; padding-top:4px; padding-bottom:4px; margin-top: 4px; margin-bottom: 4px; font-weight: bold;}

/* FORM FOR HOURS */
#form_clock .text {float:left; width:300px; height:35px; background: #3b3e52; color: #c4cbed; padding: 0; margin: 0; margin-bottom: 10px;}
#form_clock .title {float:left; height:100%; width:160px; background: #50546c; font-size: 16px; color: #c4cbed; font-weight: bold; padding: 0; margin: 0;}
#form_clock .title span {float:left; padding-top: 4px; padding-left: 6px; padding-right: 6px;}
#form_clock .text input {float:left; padding-left: 2px; margin-left: 8px; width: 50px;}

#form_clock .button {float:left; margin-left:4px; background: #515469; height:35px; width:30px; cursor: pointer;}
#form_clock .button img {float:left; margin-top:8px; margin-left:5px;}
#form_clock .button:hover {background: #464A60;}

.button-clic {float:left; margin-left:4px; background: url(/static/static/gg365/img/button_question.png) no-repeat; height:35px; width:30px; cursor: pointer;}
.button-clic.down {background: url(/static/static/gg365/img/button_question_hover.png) no-repeat;}

#form.profil_image {float:left; width:100%; height:170px; background: #3b3e52; color: #c4cbed; padding: 0; margin: 0; margin-bottom: 10px;}
#form.profil_image .image {float:left; width:150px; height:150px; margin-top:10px; margin-left: 10px;}
#form.profil_image .bodytitle {float:left; background:#4F536B; width:170px; height:170px; margin-bottom: 7px;}
#form.profil_image .bodytitle span {float:left; margin-left: 4px; margin-top:4px; background: #50546c; font-size: 16px; color: #c4cbed; font-weight: bold; padding: 0;}

#button-wrapper {float:left; margin-left:10px; margin-top: 10px; width:58%;}
#file-wrapper {position: relative; display: inline-block; overflow: hidden; cursor: pointer;}
#file-wrapper input {position: absolute; top: 0; right: 0; filter: alpha(opacity=1); opacity: 0.01; -moz-opacity: 0.01; cursor: pointer;}

#file-wrapper .button_selectfile {float:left; background: url(/static/static/gg365/img/button_select_file_body.png) repeat-x; height:39px; color: #f195bc; font-size: 16px; font-weight: bold; font-weight: bold; cursor: pointer; border: 1px solid #a73565; }
#file-wrapper .button_selectfile span {float: left; padding-top:6px; margin-left:4px; margin-right:10px;}
#file-wrapper .icon_file {height:24px; background: url(/static/static/gg365/img/icon_file.png) left no-repeat; padding-left:28px;}

#fileremove-wrapper .button_removefile {float:left; background: url(/static/static/gg365/img/button_remove_file_body.png) repeat-x; height:29px; color: #acb0c7; font-size: 16px; font-weight: bold; font-weight: bold; cursor: pointer; border: 1px solid #585c78;}
#fileremove-wrapper span {float: left; padding-top:2px; margin-left:4px; margin-right:10px;}
#fileremove-wrapper .icon_removefile {height:24px; background: url(/static/static/gg365/img/icon_delete.png) left no-repeat; padding-left:28px;}