{% extends "gg365/dashboard/base.html" %}
{% load i18n %}
{% block content %}
<h2>Login</h2>
<div class="line"></div>
<form method="post">
    {% csrf_token %}
    {% if form.errors %}
    <p>Your username and password didn’t match. Please try again.</p>
    {% endif %}
    <!-- INPUT -->
    <div id="form" class="text">
    <div class="title"><span>Username:</span></div>
    {{ form.username }}
    </div>

    <div id="form" class="text">
    <div class="title"><span>Password:</span></div>
    {{ form.password }}
    </div>

    <!-- BUTTON: LOGIN -->
    <div class="right" style="margin-bottom:10px; margin-top:5px;">
    <input type="submit" value="Login" class="sumbit1">
    </div>
</form>
{% endblock %}
