{% extends "gg365/dashboard/base.html" %}
{% load i18n %}
{% block content %}
<div id="edit-place">
    <div class="wrapper">
        <h2>You are successful logged out</h2>
        <a href="{% url "gg365:dashboard:place:list" %}">{% trans "Login agin" %}</a>
    </div>
</div>
{% endblock %}