{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>GayGuide365 - The Ultimate Gay Travel Guide</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{{STATIC_URL}}gg365/template.css" type="text/css" />

        <link rel="shortcut icon" type="image/x-icon" href="/static/static/gg365/img/favicon.ico" />
        <script src="{{STATIC_URL}}jquery-1.10.0.min.js" type="text/javascript"></script>
        {% load sekizai_tags %}
        {% render_block "css" %}
    </head>
    <body>
        <div id="header">
            <div class="background-map">
                <a href="/"><div class="logo"></div></a>
            </div>
        </div>

        {% block navigation %}
        {% endblock navigation %}

        <div style="width:100%;background:transparent url({{STATIC_URL}}gg365/img/background_gradient.png) repeat-x top;">
            <div id="wrapper">
                {% block base_body %}
                    {% block body %}
                    {% endblock body %}
                {% endblock base_body %}
            </div>
            <div class="clear"></div>
        

        <div id="footer">
            <div class="navigation">
                <div class="body">
                    <div class="panel first">
                        <h4>Můj účet</h4>
                        <ul>
                            <li><a href="#" title="">Přihlásit se</a></li>
                            <li><a href="#" title="">Zaregistrovat se</a></li>
                            <li><a href="#" title="">Zapomenuté heslo</a></li>
                        </ul>
                    </div>
                    <div class="shadow"></div>
                    <div class="panel second">
                        <h4>Naše společnost</h4>
                        <ul>
                            <li><a href="#" title="">O nás</a></li>
                            <li><a href="#" title="">Náš tým</a></li>
                            <li><a href="#" title="">Inzerce</a></li>
                            <li><a href="#" title="">Kontakt</a></li>
                            <li><a href="#" title="">Logo</a></li>
                        </ul>
                    </div>
                    <div class="shadow"></div>
                    <div class="panel third">
                        <h4>Nápověda</h4>
                        <ul>
                            <li><a href="#" title="">Jsem tu po prvé</a></li>
                            <li><a href="#" title="">Nápověda</a></li>
                            <li><a href="#" title="">FAQ</a></li>
                            <li><a href="#" title="">Feedback</a></li>
                            <li><a href="#" title="">Sitemap</a></li>
                            <li><a href="#" title="">Pravidla používání</a></li>
                        </ul>
                    </div>
                </div>  
            </div>
        
            <div class="clear"></div>
              
            <div class="copyright">
                <div class="body">
                    <div class="left">Copyright &copy; 2012 GayGuide365.com</div>
                    <div class="right">
                         <a href="http://www.iglta.org/listing/?lid=20238"><img src="{{STATIC_URL}}gg365/img/iglta_on.png" /></a>
                         <a href="http://www.facebook.com/GayGuide365"><img src="{{STATIC_URL}}gg365/img/fb.png" /></a>
                         <a href="http://www.twitter.com/GayGuide365"><img src="{{STATIC_URL}}gg365/img/twitter_off.png" /></a>
                         <a href="//plus.google.com/113599308236736496544?prsrc=3" rel="publisher" style="text-decoration:none;">
                         <img src="{{STATIC_URL}}gg365/img/icon_google_plus.png" alt="Google+" style="border:0;width:16px;height:16px;"/></a>
                    </div>
                </div>
            </div>  </div>
        </div>
    </body>
    {% render_block "js" %}
</html>