 div.front-select {
position: absolute;
margin-left: 160px;
margin-top:0px;
display: block;
float:left;
padding:0;
}

div.front-select > span {
float:left;
width: 300px;
height: 36px;
line-height: 32px;
color: #303340;
font-weight: 700;
font-size: 16px;
background: #707595;
display: block;
padding: 0 0 0 10px;
position: relative;
cursor: pointer;
float:left;
}
div.front-select > div.front-select-arrow {
background: #707595 url(/static/static/gg365/img/arrow_down.png) no-repeat
center center;
width:36px;
height:35px;
float:left;
margin-left:283px;
cursor:pointer;
} div.front-select > ul{ clear:both; float:left; width:273px; padding:0px;
display:none; margin-top:-1px; } div.front-select ul li{
list-style-type:none; width: 100%; display: block; cursor: pointer;
font-weight:bold; font-size:16px; padding:6px 36px 6px 10px; background:
#707595; color: #303340; border-top: 1px solid #9AA0C5; } div.front-select
ul li:hover{ list-style-type:none; width: 100%; background: #9AA0C5;
display: block; color: #747999; cursor: pointer; font-weight:bold;
font-size:16px; padding:6px 36px 6px 10px; }

