{% load i18n %}
<style type="text/css">
ul{
  margin-bottom:20px;
  overflow:hidden;
}
li{
  line-height:1.5em;
  float:left;
  display:inline;
}
#double li  { width:50%;} 
</style>
<ul id="double">
{% for obj in objs %}
    <li>{{obj}}</li>
{% endfor %}
</ul>