{% load i18n %}
<script type="text/javascript" src="{{STATIC_URL}}large_data_admin/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}large_data_admin/m2m/widget.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}large_data_admin/m2m/widget.css">
<script type="text/javascript">
$(document).ready(function(){
    $(".rm").click(function () {
        $(this).remove();
        selected.pop($(this).attr("objId"));
    });
});
</script>

<style type="text/css">
ul{
  margin-bottom:20px;
  overflow:hidden;
}
li{
  line-height:1.5em;
  float:left;
  display:inline;
}
#double li  { width:50%;} 
</style>
<ul id="double">
{% for obj in objs %}
    <li><a href="#" class="rm" objId="{{obj.pk}}">{{obj}}</a></li>
{% endfor %}
</ul>