<script src="/static/static/gg365/jswidgets/lightbox2.6/js/jquery-1.10.2.min.js"></script>
<script src="/static/static/gg365/jswidgets/lightbox2.6/js/lightbox-2.6.min.js"></script>
<link href="/static/static/gg365/jswidgets/lightbox2.6/css/lightbox.css" rel="stylesheet" />