<script src="/static/static/gg365/jswidgets/modal/jquery.leanModal.min.js" type="text/javascript"></script>
<style type="text/css">
/* MODAL WINDOW */
#lean_overlay {position: fixed; z-index: 10000; top: 0px; left: 0px; height:100%; width:100%; background: #000; display: none;}

#modalplugin {width: 300px; padding-bottom: 2px; color:#575757; display:none; background:#c6c6c6 url(/static/static/gg365/img/modalplugin_background.png) repeat-x; }
#modalplugin .header {float:left; background:#474747; width:100%; height:40px; margin-top:-1px;}
#modalplugin .header .logo {float:left; background: url(/static/static/gg365/img/logo_mini_modalplugin.png); margin-left:4px; margin-top:6px; height: 26px; width: 155px;}
#modalplugin h2 {float:left; width:100%; font-size: 24px; color:#575757; font-family:Calibri; }
#modalplugin h3 {float:left; width:100%; font-size: 16px; color:#575757; margin-top:4px; font-family:Calibri; }
#modalplugin .form {float:left; margin-left: 12px; margin-right: 12px; margin-top:0px; margin-bottom: 6px;}

#modalplugin .txt-fld {float:left; width:100%;}
#modalplugin .txt-fld .tit {float:left; font-weight: bold; color:#797979; margin-left:5px; margin-bottom:-5px; width:100%;}
#modalplugin .txt-fld .tit .info {font-size: 11px; font-weight: normal; width:100%; padding: 0; margin-top: 0; margin-top:-8px;}
#modalplugin .txt-fld .text {float:left; width:100%; padding:0; margin:0;}
#modalplugin .txt-fld .text input {float:left; background: url(/static/static/gg365/img/modal_input.png) repeat-x; width:94%; height:25px; padding-left:6px; color:#868686; font-size: 14px; border:1px solid #d8d8d8;}

#modalplugin .modal_close {float:right; margin-top:8px; margin-right:6px; background: url(/static/static/gg365/img/modal_close.png) no-repeat; height:24px; width:24px; cursor: pointer;}
#modalplugin .modal_close:hover {background: url(/static/static/gg365/img/modal_close_hover.png) no-repeat;}

#modalplugin .sumbit2 {cursor:pointer; background: url(/static/static/gg365/img/sumbit2_background.png) repeat-x; height:26px; font-size: 14px; border:none; font-weight: bold; padding-right:12px;  padding-left:12px; color: #FFF; margin-right:4px; margin-top:6px;}
#modalplugin .sumbit2:hover {background: url(/static/static/gg365/img/sumbit2_background_hover.png) repeat-x;}

#modalplugin .button_yes {cursor:pointer; background: url(/static/static/gg365/img/modal_button_yes.png) repeat-x; height:26px; font-size: 14px; border:1px solid #53951E; font-weight: bold; padding-right:12px;  padding-left:12px; color: #FFF; margin-right:4px; margin-top:6px;}
#modalplugin .button_yes:hover {background: url(/static/static/gg365/img/modal_button_yes_hover.png) repeat-x;}

#modalplugin .button_no {cursor:pointer; background: url(/static/static/gg365/img/modal_button_no.png) repeat-x; height:26px; font-size: 14px; border:none; font-weight: bold; padding-right:12px;  padding-left:12px; color: #FFF; margin-right:4px; margin-top:6px;}
#modalplugin .button_no:hover {background: url(/static/static/gg365/img/modal_button_no_hover.png) repeat-x;}

.youtube_modal {float:left; width:auto; margin-left: 10px; margin-right: 10px; margin-bottom: 10px; margin-top:10px;}
                                .youtube_modal h5 {float:left; margin:0; padding:0; font-size:18px; width: 100%; margin-bottom: 2px;}
                                .youtube_modal p {float:left; margin:0; padding:0; width: 100%; font-size: 16px;}

</style>
<script type="text/javascript">
function confirm2(text, callback){
    $("body").append('<div id="modalplugin"><div class="header"><div class="left"><div class="logo"></div></div><div class="right"><a class="modal_close" href="#"></a></div></div><div class="form"><h3>'+text+'</h3><div style="float:left; margin-top:-18px; margin-left:84px;"><div class="left"><button type="submit" class="button_yes">Yes</button></div><div class="right"><button type="submit" class="button_no">No</button></div></div></div></div><a id="modalpluginRun" name="modalplugin" href="#modalplugin" style="display:none;"></a>');
    $('#modalpluginRun').leanModal({ top : 200, closeButton: ".modal_close" });
    $(".modal_close").click(function(){
        $("#modalplugin").remove();
    });
    $("#modalpluginRun").click();
    $(".button_yes").click(function(){
        callback(true);
        $(".modal_close").click();
    })
    $(".button_no").click(function(){
        callback(false);
        $(".modal_close").click();
    })
}

function prompt2(text, value, button, callback){
    $("body").append('\
        <div id="modalplugin">\
            <div class="header">\
                <div class="left">\
                    <div class="logo"></div>\
                </div>\
                <div class="right">\
                    <a class="modal_close" href="#"></a>\
                </div>\
            </div>\
            <div class="clear">\
            <div class="form" style="width:275px;">\
                <div class="txt-fld">\
                    <div class="tit">'+text+'</div>\
                    <div class="text"><input id="modalInput" type="text" value="'+value+'"/></div>\
                </div>\
                <div class="clear"></div>\
                <div class="right">\
                    <button type="submit" class="sumbit2">'+button+'</button>\
                </div>\
            </div>\
        </div>\
        <a id="modalpluginRun" name="modalplugin" href="#modalplugin" style="display:none;"></a>\
    ');
    $('#modalpluginRun').leanModal({ top : 200, closeButton: ".modal_close" });
    $(".modal_close").click(function(){
        $("#modalplugin").remove();
        $("#modalpluginRun").remove();
    });
    $("#modalpluginRun").click();
    $(".sumbit2").click(function(){
        callback($("#modalInput").val());
        $(".modal_close").click();
    })
}


function youtube_modal(video_id, name, description){
    $("body").append('\
        <div id="modalplugin" style="width:660px;">\
                <div class="header">\
                        <div class="left">\
                                <div class="logo"></div>\
                        </div>\
                        <div class="right">\
                                <a class="modal_close" href="#"></a>\
                        </div>\
                </div>\
                <div class="youtube_modal">\
                        <iframe width="640" height="360" src="http://www.youtube.com/embed/'+video_id+'?rel=0" frameborder="0" allowfullscreen></iframe>\
                        <h5>'+name+'</h5>\
                        <p>'+description+'</p>\
                </div>\
        </div>\
        <a id="modalpluginRun" name="modalplugin" href="#modalplugin" style="display:none;"></a>\
    ');
    $('#modalpluginRun').leanModal({ top : 100, closeButton: ".modal_close" });
    $(".modal_close").click(function(){
        $("#modalplugin").remove();
        $("#modalpluginRun").remove();
    });
    $("#modalpluginRun").click();
}
</script>