<script type="text/javascript">
function show_uploading_gif() {
    $("body").append('\
        <div id="uploading-gif" style="margin-left:45%;position:fixed;top:45%;">\
            <img src="/static/static/gg365/img/uploading.gif" style="width:100px;">\
        </div>\
    ');
}

function hide_uploading_gif() {
    $("#uploading-gif").remove();
}
</script>