{% extends "gg365/dashboard/videogallery/base.html" %}
{% load i18n %}
{% block gallery_header %}
    <h2>Gallery {{videogallery}}</h2>
{% endblock gallery_header %}
{% block gallery_actions %}
{% include "gg365/jswidgets/modal.html" %}
<script type="text/javascript">
    function edit_video(url, name, description, video){
    $("body").append('\
        <div id="modalplugin">\
            <div class="header">\
                <div class="left">\
                    <div class="logo"></div>\
                </div>\
                <div class="right">\
                    <a class="modal_close" href="#"></a>\
                </div>\
            </div>\
            <div class="clear">\
            <div class="form" style="width:275px;">\
                <form id="video-edit">\
                <div class="txt-fld">\
                    <div class="tit">Name</div>\
                    <div class="text"><input id="modalInput" type="text" name="name" value="'+name+'"/></div>\
                </div>\
                <div class="txt-fld">\
                    <div class="tit">Description</div>\
                    <div class="text"><input id="modalInput" type="text" name="description" value="'+description+'"/></div>\
                </div>\
                <div class="txt-fld">\
                    <div class="tit">Youtube url</div>\
                    <div class="text"><input id="modalInput" type="text" name="video_url" value="'+video+'"/></div>\
                </div>\
                <div class="clear"></div>\
                </form>\
                <div class="right">\
                    <button type="submit" class="sumbit2">Save</button>\
                </div>\
            </div>\
        </div>\
        <a id="modalpluginRun" name="modalplugin" href="#modalplugin"></a>\
    ');
    $('#modalpluginRun').leanModal({ top : 200, closeButton: ".modal_close" });
    $(".modal_close").click(function(){
        $("#modalplugin").remove();
    });
    $("#modalpluginRun").click();
    $(".sumbit2").click(function(){
        data = $("#video-edit").serialize();
        console.log(data, url);
        $.post(url, data, function(){

        })
        $(".modal_close").click();
    })
}
</script>
<a href="{% url "gg365:dashboard:videogallery:add_video" videogallery.id_hash %}"><div class="button-add-photo"><div class="icon"></div>Add video</div></a>
    <a href="{% url "gg365:dashboard:videogallery:edit" videogallery.id_hash %}"><div class="button-edit-album"><div class="icon"></div>Edit gallery</div></a>
{% endblock gallery_actions %}
{% block content %}
{% for video in videos %}
    <div class="photo" style="margin-top:10px;">
        <div class="photo-image" id="video-{{video.pk}}">
                <div class="description">
                    <div class="body">
                        <h4 style="float:left; line-height:16px; margin-top:5px; margin-left:6px; font-weight:normal;overflow:hidden;height:28px;">{{video.name|truncatechars:20}}</h4>
                    </div>
                </div>
                <div id="menu-dropdown">
                        <div id="d{{picture.pk}}" class="wrapper-dropdown-2" tabindex="1" onclick="edit_video('{% url "gg365:dashboard:videogallery:edit_video" video.id_hash %}', '{{video.name}}', '{{video.description}}', '{{video.video_url}}');"><div class="image-pencil"></div>
                        </div>
                        <div id="d{{video.pk}}" class="wrapper-dropdown-2" tabindex="1"><div id="rm-{{video.pk}}" class="image-remove"></div></div>
                        </div>
                        <script type="text/javascript">
                        $("#rm-{{video.pk}}").click(function(){
                            confirm2("Realy remove this video", function (b) {
                                if (b) {
                                    $("#video-{{video.pk}}").remove();
                                    $.get("{% url "gg365:gallery:remove_video" video.id_hash %}");
                                }
                            })
                        });
                        </script>
            <a href="">
                <img src="{{video.get_video_thumbnail}}" alt="">
            </a>
        </div>
    </div>
{% endfor %}
{% endblock content %}
{% block subnavigation %}{% endblock subnavigation %}