{% extends "gg365/dashboard/videogallery/base.html" %}
{% block gallery_header %}
{% include "gg365/jswidgets/modal.html" %}
    <h2>Galleries</h2>
{% endblock gallery_header %}
{% block gallery_actions %}
    <div class="add-place">
    <a href="{% url "gg365:dashboard:videogallery:add" %}" style="text-decoration:none;"><div class="text"><div class="icon">Add new video gallery</div></div></a>
</div>
{% endblock gallery_actions %}
{% block content %}
<style type="text/css">
    
#edit-place .add-place {background: #911a4c; height: 35px; width:100%; cursor: pointer; margin-bottom: 8px;}
#edit-place .add-place:hover {background: #9d2155;}
#edit-place .add-place .text {color: #ffa6cb; font-size: 17px; text-align: center; padding-top: 4px; font-weight: bold;}
#edit-place .add-place .icon {margin-left:8px; background: url(/static/static/gg365/img/icon-add-place.png) left no-repeat;}

#edit-place .result-place {background: #3b3e52; width:100%; cursor: pointer;}
#edit-place .result-place:hover {background: #50546c;}
#edit-place .result-place .text {color: #c4cbed; font-size: 16px; text-align: left; padding-left: 8px;  padding-top:4px; padding-bottom:4px; margin-top: 4px; margin-bottom: 4px; font-weight: bold;}

#edit-place .select-place {float:left; width: 100%; margin-top: 2px; margin-bottom: 2px;}
#edit-place .result-place2 {float:left; background: #3b3e52; width:92%; cursor: pointer;}
#edit-place .result-place2:hover {background: #50546c;}
#edit-place .result-place2 .text {color: #c4cbed; font-size: 16px; text-align: left; padding-left: 8px;  padding-top:2px; padding-bottom:2px; margin-top: 4px; margin-bottom: 4px; font-weight: bold;}

#edit-place .button {float:left; margin-left:4px; background: #515469; height:37px; width:30px; cursor: pointer;}
#edit-place .button img {float:left; margin-top:8px; margin-left:5px;}
#edit-place .button:hover {background: #464A60;}

#no-ahref-decoration a {text-decoration: none;}
</style>
<script type="text/javascript">
function rm_videogallery (id_hash, url) {
    confirm2("Realy remove this video gallery", function (b) {
        if (b) {
            $("#videogallery-"+id_hash).remove();
            $.get(url);
        }
    })
}
</script>
{% for videogallery in videogalleries %}
    <div class="select-place" id="videogallery-{{videogallery.id_hash}}">
        <a href="{% url "gg365:dashboard:videogallery:detail" videogallery.id_hash %}" title="">
            <div class="result-place2">
                <div class="text">{{videogallery.name}}</div>
            </div>
        </a>
        <div class="button" onclick="rm_videogallery('{{videogallery.id_hash}}', '{% url "gg365:gallery:remove_video_gallery" videogallery.id_hash %}');">
                <img src="/static/static/gg365/img/icon_remove_red.png">
        </div>
    </div>
{% endfor %}
{% endblock content %}
{% block subnavigation %}{% endblock subnavigation %}