{% extends "gg365/dashboard/videogallery/base.html" %}
{% load i18n %}
{% block content2 %}
<h2>Create gallery</h2>
<style type="text/css">
#form.text input {width: 250px; }

ul.errorlist {margin: 0;}
</style>
<form action="" method="post">
    <div class="line"></div>
    {% csrf_token %}
    <input type="hidden" id="filesList" name="images">
    {% for field in form %}
        <div id="form" class="text">
            <div class="title"><span>{{field.label}}</span></div>
            {{field}}
        </div>
        <div id="form" class="text" style="height:100%;">
            {{field.errors}}
        </div>
    {% endfor %}
    <div class="right" style="margin-bottom:10px; margin-top:5px;">
        <input type="submit" value="Save" class="sumbit1">
    </div>
</form>

<div class="clear"></div>
<div id="photos"></div>
{% endblock content2 %}
{% block subnavigation %}{% endblock subnavigation %}