{% extends "gg365/dashboard/event/base.html" %}
{% load i18n %}
{% block subnavigation %}{% endblock subnavigation %}
{% block content %}
<style type="text/css">
#form.text input {width: 270px; }
#form.text .time {width: 40px; }

ul.errorlist {margin: 0;}
</style>
<form action="" method="post">
    <h2>Add event</h2>
    <div class="line"></div>
    {% include "gg365/dashboard/form.html" %}
    <div class="right" style="margin-bottom:10px; margin-top:5px;">
        <input type="submit" value="Save" class="sumbit1">
    </div>
</form>
{% endblock content %}