{% extends "gg365/dashboard/event/base.html" %}
{% load i18n %}
{% block content %}
<!-- ADD PLACE OR EVENT -->
<h2>Events</h2>
        <div class="line"></div>
<div id="no-ahref-decoration">

<div class="add-place">
    <a href="{% url "gg365:dashboard:event:add" %}"><div class="text"><div class="icon">Add new event</div></div></a>
</div>

<!-- PLACE -->
{% for event in events %}
    <a href="{% url "gg365:dashboard:event:basic_info" event.id_hash %}" title=""><div class="result-place"><div class="text">{{event}}</div></div></a>
{% endfor %}
</div>

{% endblock content %}
{% block subnavigation %}{% endblock subnavigation %}