{% load i18n %}
<li {% if menu2 == "basic_info" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:event:basic_info" event.id_hash %}">Basic info</a></li>
<li {% if menu2 == "location" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:event:location" event.id_hash %}">Location</a></li>
<li {% if menu2 == "contact" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:event:contact" event.id_hash %}">Contact</a></li>
<li {% if menu2 == "billing" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:event:billing" event.id_hash %}">Billing</a></li>
<li {% if menu2 == "galleries" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:event:galleries" event.id_hash %}">Galleries</a></li>
<li {% if menu2 == "videogalleries" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:event:videogalleries" event.id_hash %}">Video galleries</a></li>
<li {% if menu2 == "settings" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:event:settings" event.id_hash %}">Settings</a></li>
<!-- <li><a href="{% url "gg365:dashboard:preview:event" event.id_hash %}" target="blank"><button>Preview</button></a></li> -->