{% extends "gg365/dashboard/event/base.html" %}
{% load i18n %}
{% block content %}
<style type="text/css">
#form.text {height: auto; }

ul.errorlist {margin: 0;}
</style>
<form action="" method="post">
{% csrf_token %}
    <h2>Select video galleries</h2>
    <div class="line"></div>
    {% for field in form %}
        <div id="form" class="textarea">
            <div style="clear:both;"></div>
            {{field}}
        </div>
    {% endfor %}
    <div class="right" style="margin-bottom:10px; margin-top:5px;">
        <input type="submit" value="Save" class="sumbit1">
    </div>
</form>
{% endblock content %}