{% extends "gg365/dashboard/settings/base.html" %}
{% load i18n %}
{% block content %}
<style type="text/css">
ul.errorlist {margin: 0;}
</style>
<form action="" method="post">
    <h2>Settings</h2>
    <div class="line"></div>
    {% include "gg365/dashboard/form.html" %}
    <div class="right" style="margin-bottom:10px; margin-top:5px;">
        <input type="submit" value="Save" class="sumbit1">
    </div>
</form>
{% endblock content %}
