
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>GayGuide365 - The Ultimate Gay Travel Guide</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/static/static/gg365/css/place.css" type="text/css" />
<link rel="stylesheet" href="/static/static/gg365/template.css" type="text/css" />
<script type="text/javascript" src="/static/static/jquery-1.10.0.min.js"></script>

<link rel="shortcut icon" type="image/x-icon" href="/static/static/gg365/img/favicon.ico" />
<script type="text/javascript">
</script>
</head>
 <body>
        <!-- HEADER -->
        <div id="header">
            <div class="background-map">
                <a href="" title="">
                    <div class="logo"></div>
                </a>
            </div>
        </div>
        
        <!-- HEADER NAVIGATION -->
        <div id="header-navigation">
            <div class="wrapper">
            <div class="body">
            
            <div class="left">
                <div class="navigation">
                    <div class="places activ">
                        <a href="" title=""><h2><span>Places</span></h2></a>
                    </div>
                    
                    <div class="events">
                        <a href="" title=""><h2><span>Events</span></h2></a>
                    </div>
                </div>
            </div>
            
            <div class="right">
                <div class="search">
                    <div class="body">
                        <div class="left">
                        <input type="text" value="Enter keywords to search..." />
                        </div>
                        <div class="right">
                            <div class="button"></div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
            </div>
        </div>
        
    <!-- <div id="map_canvas" style="width:100%;height:300px;"></div> -->
    
    <!-- <div id="map_resizer" style="height:23px;width:100%;background:transparent url(img/bg_map_resizer.png) repeat-x;float:left;color:#3B0B1F;text-align:center;font-size:20px;">
        <div style="width:200px;margin:auto;" id="map_resizer_x">
            &#149;&nbsp;&#149;&nbsp;&#149;
        </div>
    </div> -->
    
    <!-- <script type="text/javascript" src="js/maps.js"></script> -->
    <div style="width:100%;background:transparent url(img/background_gradient.png) repeat-x top;">

    <div class="clear"></div>
    
    <!-- DIRECTORY -->
    <div id="directory">
        <div class="body">
            <ul>
            <li><a href="" title="">Evropa</a></li>
            <li><a href="" title="">Česká republika</a></li>
            <li><a href="" title="">Praha 2</a></li>
            <li class="last"><a href="" title="">Hotely</a></li>
            </ul>
        </div>
    </div>
    
    <!-- PODNIK -->
        <div id="wrapper">
        <div class="background" style="margin-top:0;">
            <div id="places">
          <div class="head">
            <!-- LOGO SPOLECNOSTI 150x150 -->
            <div class="logo"><img src="{{event.get_thumbnail_url}}" alt="GayGuide365"></div>
            
            <!-- VZDALENOST MISTA -->
            <!-- <div class="distance">
                <div style="margin-top:-1px;">
                    <span class="icon">
                    Jste 45km od místa
                    </span>
                </div>
            </div> -->
            
            <!-- STAV: OTEVRENO ZA 3 HODINY (ZLUTY) 
            <div class="status_openfor">
                <div style="margin-top:-1px;">
                    <span class="icon">
                    Otevřeno za 3 hodiny
                    </span>
                </div>
            </div>
            -->
            
            <!-- STAV: OTEVRENO
            
            -->
            
            <!-- STAV: ZAVRENO -->
            {% if place.is_open %}
            <div class="status_open">
                <div style="margin-top:-1px;">
                    <span class="icon">
                    Otevřeno
                    </span>
                </div>
            </div>
            {% else %}
            <div class="status_close">
                <div style="margin-top:-1px;">
                    <span class="icon">
                    Zavřeno
                    </span>
                </div>
            </div>
            {% endif %}
            
            <!-- NAZEV HOTELU -->
            <h2 class="hotel-name">{{event.name}}</h2>

            <!-- IKONKY: FACEBOOK, TWITTER -->
            <div class="place-socialsite">
                {% if place.contact.facebook %}<a href="{{event.contact.facebook}}" title="Facebook" target="_blank"><img src="/static/static/gg365/img/icon_small_facebook.png"></a>{% endif %}
                {% if place.contact.twitter %}<a href="{{event.contact.twitter}}" title="Twitter" target="_blank"><img src="/static/static/gg365/img/icon_small_twitter.png"></a>{% endif %}
            </div>
            
            <!-- ADRESA -->
            <div class="hotel-adress">{{event.address}}</div>

          </div>
        
    <!-- LEVY PANEL -->
        <div class="panel_left">
        <!-- KRATKY POPIS -->
            <div class="description_small">
                <p>{{event.perex}}</p>
            </div>
        
        <!-- DLOUHY POPIS -->
            <div class="description_big">
                <p>{{event.description|linebreaksbr}}</p>
            </div>
        
        </div> <!-- END LEVY PANEL -->
    
    <!-- PRAVY PANEL -->
        <div class="panel_right">
            <!-- NADPIS PANELU / OTEVIRACI DOBA -->
            {% load front_tags %}
            <h3>Otevirací doba:</h3>
            <!-- INFO PANEL -->
                <!-- <a href="#" title="">
                    <div class="box">
                        <p>13.9.2012 <span>Dnes otevřeno od 8:00 do 20:00</span></p>
                    </div>
                </a> -->
            <!-- BUTTON / READ MORE -->
                <!-- <div class="button">
                    <a href="" title=""><div class="read-more"><div class="icon"><span>Read more</span></div></div></a>
                </div> -->
            
            <div class="clear"></div>
            
            <!-- NADPIS PANELU / KONTAKT -->
            <h3>Kontakt:</h3>
                <div class="contact">
                    {% if place.contact.phone1 %}<p>{{event.contact.get_phone1_type_display}}: {{event.contact.phone1}}</p>{% endif %}
                    {% if place.contact.phone2 %}<p>{{event.contact.get_phone2_type_display}}:{{event.contact.phone2}}</p>{% endif %}
                    {% if place.contact.phone3 %}<p>{{event.contact.get_phone3_type_display}}:{{event.contact.phone3}}</p>{% endif %}
                    {% if place.contact.email1 %}<p><a href="mailto:{{event.contact.email1}}" title="" style="text-decoration:underline;">{{event.contact.email1}}</a></p>{% endif %}
                    {% if place.contact.email2 %}<p><a href="mailto:{{event.contact.email2}}" title="" style="text-decoration:underline;">{{event.contact.email2}}</a></p>{% endif %}
                    {% if place.contact.email3 %}<p><a href="mailto:{{event.contact.email3}}" title="" style="text-decoration:underline;">{{event.contact.email3}}</a></p>{% endif %}
                    {% if place.contact.web1 %}<p><a href="{{event.contact.web1}}" target="blank">{{event.contact.web1}}</a></p>{% endif %}
                    {% if place.contact.web2 %}<p><a href="{{event.contact.web2}}" target="blank">{{event.contact.web2}}</a></p>{% endif %}
                    {% if place.contact.web3 %}<p><a href="{{event.contact.web3}}" target="blank">{{event.contact.web3}}</a></p>{% endif %}
                </div>
            <!-- BUTTON / READ MORE -->
                <!-- <div class="button">    
                    <a href="" title=""><div class="read-more"><div class="icon"><span>Read more</span></div></div></a>
                </div> -->

            <div class="clear"></div>
            
            <!-- NADPIS PANELU / PROGRAM -->
            <!-- INFO PANEL -->
            <!-- <h3>Program:</h3>
                <a href="#" title="">
                    <div class="box">
                        <p>13.9.2012 <span>Náš club navštíví DJ mafikes</span></p>
                    </div>
                </a>
                
                <a href="#" title="">
                    <div class="box">
                        <p>13.9.2012 <span>Akce vodka za 40 kč </span></p>
                    </div>
                </a>
                
                <a href="#" title="">
                    <div class="box">
                        <p>13.9.2012 <span>Náš club navštíví DJ popo a mozna...</span></p>
                    </div>
                </a> -->
            <!-- BUTTON / READ MORE -->
                <!-- <div class="button">            
                    <a href="" title=""><div class="read-more"><div class="icon"><span>Read more</span></div></div></a>
                </div> -->

            <div class="clear"></div>
            
        </div> <!-- END PRAVY PANEL -->
        
        <div class="clear"></div>
        
        <!-- TAGY -->
        <!-- <div class="tags">
            <a href="#" title=""><div class="tag"><span>Hotel</span></div></a>
            <a href="#" title=""><div class="tag"><span>Restaurace</span></div></a>
            <a href="#" title=""><div class="tag"><span>Moře</span></div></a>
            <a href="#" title=""><div class="tag"><span>Hotel u pláže</span></div></a>
            <a href="#" title=""><div class="tag"><span>Autobus</span></div></a>
            <a href="#" title=""><div class="tag"><span>Divadlo</span></div></a>
            <a href="#" title=""><div class="tag"><span>Slunce</span></div></a>
            <a href="#" title=""><div class="tag"><span>Bazén</span></div></a>
            
            <a href="#" title=""><div class="tag"><span>Hotel</span></div></a>
            <a href="#" title=""><div class="tag"><span>Restaurace</span></div></a>
            <a href="#" title=""><div class="tag"><span>Moře</span></div></a>
            <a href="#" title=""><div class="tag"><span>Hotel u pláže</span></div></a>
            <a href="#" title=""><div class="tag"><span>Autobus</span></div></a>
            <a href="#" title=""><div class="tag"><span>Divadlo</span></div></a>
            <a href="#" title=""><div class="tag"><span>Slunce</span></div></a>
            <a href="#" title=""><div class="tag"><span>Bazén</span></div></a>
        </div> -->
        
        <div class="clear"></div>
        
        <!-- BUTTONY -->
        <!-- <div class="buttons-hotel">
            TO SE MI LIBI
            <div class="leftbutton"><div class="like"><div class="like icon">To se mi líbi</div></div></div>
            
            PRIDAT DO OBLIBENYCH
            <div class="leftbutton"><div class="favorite"><div class="favorite icon">Přidat do oblíbených</div></div></div>

            <div class="right" style="margin-right:16px;">
            NAKUP LETENEK
            <div class="rightbutton"><div class="shopticket"><span>Nákup letenek</span></div></div>
            
            REZERVOVAT UBYTOVANI
            <div class="rightbutton"><div class="reserve"><span>Rezervovat ubytování</span></div></div>
            </div>
            
        </div>  -->
        
        <!-- FOTOGALERIE -->
        
        <!-- NAVIGACE -->
        <div id="submenu" class="foto-button activ"><a href="#" title="" onclick="show_galleries()"><span>Fotogalerie</span></a></div>
        <div id="submenu" class="video-button" ><a href="#" title="" onclick="show_video_galleries()"><span>Videogalerie</span></a></div>
        
        <!-- KATEGORIE -->
        <div id="submenu_body">
            <div class="body">
                <style type="text/css">
                .hidden {display: none;}
                </style>
                <script type="text/javascript">
                function show_gallery(id){
                    $(".gallery").addClass("hidden");
                    $(".gallery-"+id).removeClass("hidden");
                }
                function show_galleries(){
                    $(".galleries").removeClass("hidden");
                    $(".video_galleries").addClass("hidden");
                    $(".foto-button").addClass("activ");
                    $(".video-button").removeClass("activ");
                }
                function show_video_galleries(){
                    $(".galleries").addClass("hidden");
                    $(".video_galleries").removeClass("hidden");
                    $(".foto-button").removeClass("activ");
                    $(".video-button").addClass("activ");
                }

                $(function(){
                    $(".gallery-select").click(function (){
                        id = $(this).attr("gallery-id");
                        show_gallery(id);
                    })

                })
                </script>
                <div class="photogallery galleries">
                    <div class="buttonleft"></div>
                    <div class="category">
                        {% for gallery in place.galleries.all %}
                        <div class="category-image gallery-select" gallery-id="{{gallery.pk}}">
                            <div class="description">
                                <div class="body">
                                    <p>{{gallery.name}}</p>
                                </div>
                            </div>
                            <img src="{% if gallery.main_picture %}{{gallery.main_picture.get_thumbnail_url}}{% else %}/static/static/gg365/no-image.png{% endif %}" alt="" />
                        </div>
                        {% endfor %}
                        {% if place.galleries.all.0 %}
                            <script type="text/javascript">
                            $(function(){
                                show_gallery("{{event.galleries.all.0.pk}}");
                            })
                            </script>
                        {% endif %}
                    </div>
                    
                    <div class="buttonright"></div>
                    
                    <div class="clear"></div>
        <!-- NADPIS FOTOGALERIE -->
                <div class="category-head">
                    <h2>Contrary to popular belief</h2>
                </div>
                    
                    <div class="clear"></div>
        <!-- FOTKY -->      
                {% for gallery in place.galleries.all %}
                    <div class="photo gallery gallery-{{gallery.pk}} hidden">
                        {% for image in gallery.image_set.all %}
                        <div class="photo-image">
                                <div class="description">
                                    <div class="body">
                                        <p>{{image.description}}</p>
                                    </div>
                                </div>
                            <div class="zoom"></div>
                            <img src="{{image.get_thumbnail_url}}" alt="" />
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                
                    <div class="clear"></div>
            
            <!-- STRANKOVANI -->
                <div class="pagenation">
                <div class="page">
                    <a class="action" href="" title="">‹</a>
                    <div class="number">1/2</div>
                    <a class="action" href="" title="">›</a>
                </div>
                </div>
                
                </div> <!-- /PHOTOGALERY -->
                <div class="photogallery video_galleries hidden">
                    <div class="buttonleft"></div>
                    <div class="category">
                        {% for gallery in place.video_galleries.all %}
                        <div class="category-image gallery-select" gallery-id="{{gallery.pk}}">
                            <div class="description">
                                <div class="body">
                                    <p>{{gallery.name}}</p>
                                </div>
                            </div>
                            <img src="{% if gallery.video_set.all.0.get_video_thumbnail %}{{gallery.video_set.all.0.get_video_thumbnail}}{% else %}/static/static/gg365/no-image.png{% endif %}" alt="" />
                        </div>
                        {% endfor %}
                        {% if place.galleries.all.0 %}
                            <script type="text/javascript">
                            $(function(){
                                show_gallery("{{event.galleries.all.0.pk}}");
                            })
                            </script>
                        {% endif %}
                    </div>
                    
                    <div class="buttonright"></div>
                    
                    <div class="clear"></div>
        <!-- NADPIS FOTOGALERIE -->
                <div class="category-head">
                    <h2>Contrary to popular belief</h2>
                </div>
                    
                    <div class="clear"></div>
        <!-- FOTKY -->      
                {% for gallery in place.video_galleries.all %}
                    <div class="photo gallery gallery-{{gallery.pk}} hidden">
                        {% for video in gallery.video_set.all %}
                        <div class="photo-image">
                                <div class="description">
                                    <div class="body">
                                        <p>{{video.description}}</p>
                                    </div>
                                </div>
                            <div class="zoom"></div>
                            <img src="{{video.get_video_thumbnail}}" alt="" />
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                
                    <div class="clear"></div>
            
            <!-- STRANKOVANI -->
                <div class="pagenation">
                <div class="page">
                    <a class="action" href="" title="">‹</a>
                    <div class="number">1/2</div>
                    <a class="action" href="" title="">›</a>
                </div>
                </div>
                
                </div> <!-- /PHOTOGALERY -->
            </div> <!-- /BODY -->
        </div> <!-- /SUBMENU_BODY-->
        </div> <!-- END PANELU-->
        </div> 
        
        <div class="clear"></div>
        
    <!-- ONLINE UZIVATELE -->
    <div id="panel">
        <div class="wrapper">
            <!-- ONLINE -->
<!-- 
            <h2>
                <div class="icon-users">
                    Online
                </div>
            </h2>
            
            <div class="clear"></div>
            <div class="online-users">
                <div class="user">
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
                    <img src="profil_image.jpg" alt="Jméno a příjmení"/>
            </div>  
            <div class="clear"></div>

            <div class="dropdown"><div class="icon"></div></div>
            
            </div> 
            </div>
            -->
            
            <div class="clear"></div>
            
    <!-- NADPIS: KOMENTARE 
        <div class="wrapper">
        
            <h2>
                <div class="icon-comments">
                    Komentáře
                </div>
            </h2>
            
            <div class="clear"></div>
            
        KOMENTARE - PRIDAT 
        <div class="comments-body">
            <div class="write-body">
                <h4>Zpráva</h4>
                TEXTAREA KOMENTAR
                <div class="textareawhite"><textarea>Napište názor na podnik...</textarea></div>
                
                INPUT YOUTUBE LINK
                <h4>Youtube video</h4>
                <div class="inputwhite"><input type="text" name="" value="Vložte odkaz na video youtube.com"/></div>
                
                BUTTON / ODESLAT
                <div class="button-right">
                    <div class="button send"><span>Odeslat</span></div>
                </div>
                
            </div>
            
            <div class="clear"></div>
            
            PREPINACI MENU
            <div id="navmenu">
                <div class="menu"><a href="" title=""><span>Jen majitel hotelu</span></a></div>
                <div class="menu"><a href="" title=""><span>Jen uživatelé GayGuide365</span></a></div>
                <div class="menu"><a href="" title="" class="activ"><span>Všichni</span></a></div>
            </div>
            
            <div class="clear"></div>
            
            KOMENTARE
            <div class="comments">
                <div class="comment">
                    KOMENTAR
                    <div class="body head1">
                        <div class="head1"><img src="profil_image.jpg" alt=""/><a href="">Martin Antoš</a><br /><span class="body date1">26. 09. 2012 07:05</span></div>
                    </div> 
                    <p>
                    Máma oknech lezu měl. Mu by vhod kruh 77 u 141 chrčivě. Ke vrhl ne kouk lidi ním ji dní rozlícený a fiktivní mohu až vykulil s odešel brzdu 56 a kousalkoneček. Předpis sekt zlý 11? Zaplatím klec taxíku mými díle svých pepek ke po 11 zakázané vyjevená orgiím.
                    <br />
                    <a href="" title="">http://www.mafikes.cz</a><br />
                    <a href="" title="">http://www.mafikes.cz</a>
                    </p>
                    AKCE
                    <div class="function">
                    <a href="">Souhlasím</a> (5) | <a href="">Nesouhlasím</a> (1) | <a href="">Odpovědět</a>
                    </div>
                    
                    KOMENTAR
                    <div class="body head1">
                        <div class="head1"><img src="profil_image.jpg" alt=""/><a href="">Martin Antoš</a><br /><span class="body date1">26. 09. 2012 07:05</span></div>
                    </div> 
                    <p>
                    Máma oknech lezu měl. Mu by vhod kruh 77 u 141 chrčivě. Ke vrhl ne kouk lidi ním ji dní rozlícený a fiktivní mohu až vykulil s odešel brzdu 56 a kousalkoneček. Předpis sekt zlý 11? Zaplatím klec taxíku mými díle svých pepek ke po 11 zakázané vyjevená orgiím.
                    <br />
                    <a href="" title="">http://www.mafikes.cz</a><br />
                    <a href="" title="">http://www.mafikes.cz</a>
                    </p>
                    AKCE
                    <div class="function">
                    <a href="">Souhlasím</a> (5) | <a href="">Nesouhlasím</a> (1) | <a href="">Odpovědět</a>
                    </div>
                    
                    POD-KOMENTAR / ODPOVED
                    <div class="body2">
                        <div class="head2"><a href="">Martin Antoš</a><span class="date">26. 09. 2012 07:05</span></div>
                    <p>
                    Máma oknech lezu měl. Mu by vhod kruh 77 u 141 chrčivě. Ke vrhl ne kouk lidi ním ji dní rozlícený a fiktivní mohu až vykulil s odešel brzdu 56 a kousalkoneček. Předpis sekt zlý 11? Zaplatím klec taxíku mými díle svých pepek ke po 11 zakázané vyjevená orgiím.
                    <br />
                    <a href="" title="">http://www.mafikes.cz</a><br />
                    <a href="" title="">http://www.mafikes.cz</a>
                    </p>
                    AKCE
                    <div class="function">
                    <a href="">Souhlasím</a> (5) | <a href="">Nesouhlasím</a> (1) | <a href="">Odpovědět</a>
                    </div>
                    </div> 
                    
                    POD-KOMENTAR / ODPOVED
                    <div class="body2">
                        <div class="head2"><a href="">Martin Antoš</a><span class="date">26. 09. 2012 07:05</span></div>
                    <p>
                    Máma oknech lezu měl. Mu by vhod kruh 77 u 141 chrčivě. Ke vrhl ne kouk lidi ním ji dní rozlícený a fiktivní mohu až vykulil s odešel brzdu 56 a kousalkoneček. Předpis sekt zlý 11? Zaplatím klec taxíku mými díle svých pepek ke po 11 zakázané vyjevená orgiím.
                    <br />
                    <a href="" title="">http://www.mafikes.cz</a><br />
                    <a href="" title="">http://www.mafikes.cz</a>
                    </p>
                    AKCE
                    <div class="function">
                    <a href="">Souhlasím</a> (5) | <a href="">Nesouhlasím</a> (1) | <a href="">Odpovědět</a>
                    </div>
                    </div> 
                    
                    KOMENTAR
                    <div class="body head1">
                        <div class="head1"><img src="profil_image.jpg" alt=""/><a href="">Martin Antoš</a><br /><span class="body date1">26. 09. 2012 07:05</span></div>
                    </div> 
                    <p>
                    Máma oknech lezu měl. Mu by vhod kruh 77 u 141 chrčivě. Ke vrhl ne kouk lidi ním ji dní rozlícený a fiktivní mohu až vykulil s odešel brzdu 56 a kousalkoneček. Předpis sekt zlý 11? Zaplatím klec taxíku mými díle svých pepek ke po 11 zakázané vyjevená orgiím.
                    <br />
                    <a href="" title="">http://www.mafikes.cz</a><br />
                    <a href="" title="">http://www.mafikes.cz</a>
                    </p>
                    AKCE
                    <div class="function">
                    <a href="">Souhlasím</a> (5) | <a href="">Nesouhlasím</a> (1) | <a href="">Odpovědět</a>
                    </div>
                </div>
            </div>
            PAGENATION/STRANKOVANI 
            <div id="pagenation" style="float:right;">
                <a href="" title=""><div class="box"><span>« Předchozí</span></div></a>
                
                <a href="" title=""><div class="box"><span>1</span></div></a>
                <a href="" title=""><div class="box"><span>2</span></div></a>
                <a href="" title=""><div class="box activ"><span>3</span></div></a>
                <a href="" title=""><div class="box"><span>4</span></div></a>
                <a href="" title=""><div class="box"><span>5</span></div></a>
                <a href="" title=""><div class="box"><span>6</span></div></a>
                <a href="" title=""><div class="box"><span>...</span></div></a>
                <a href="" title=""><div class="box"><span>Další »</span></div></a>
            </div>
        </div>
         
    REKLAMA 160x600
        <div class="comments-banner">
            <img src="reklama.png" title="">
        </div>
        
    </div>
        -->
    </div>
        <div class="clear"></div>
        
        </div>
       
    </div>

    <!-- FOOTER -->
    <div id="footer">
    <!-- NAVIGATION -->
    <div class="navigation">
        <div class="body">
            <!-- PANEL 1 -->
            <div class="panel first">
                <h4>Můj účet</h4>
                    <ul>
                        <li><a href="#" title="">Přihlásit se</a></li>
                        <li><a href="#" title="">Zaregistrovat se</a></li>
                        <li><a href="#" title="">Zapomenuté heslo</a></li>
                    </ul>
            </div>
            
            <!-- SHADOW --><div class="shadow"></div>
            
            <!-- PANEL 2 -->
            <div class="panel second">
                <h4>Naše společnost</h4>
                    <ul>
                        <li><a href="#" title="">O nás</a></li>
                        <li><a href="#" title="">Náš tým</a></li>
                        <li><a href="#" title="">Inzerce</a></li>
                        <li><a href="#" title="">Kontakt</a></li>
                        <li><a href="#" title="">Logo</a></li>
                    </ul>
            </div>
            <!-- SHADOW --><div class="shadow"></div>
            
            <!-- PANEL 3 -->
            <div class="panel third">
                <h4>Nápověda</h4>
                    <ul>
                        <li><a href="#" title="">Jsem tu po prvé</a></li>
                        <li><a href="#" title="">Nápověda</a></li>
                        <li><a href="#" title="">FAQ</a></li>
                        <li><a href="#" title="">Feedback</a></li>
                        <li><a href="#" title="">Sitemap</a></li>
                        <li><a href="#" title="">Pravidla používání</a></li>
                    </ul>
            </div>
        </div>  
    </div>
    
    <!-- CLEAR -->
    <div class="clear"></div>
          
    <!-- COPYRIGHT -->
    <div class="copyright">
        <div class="body">
            <div class="left">
                Copyright &copy; 2012 GayGuide365.com
            </div>
             
            <div class="right">
                 <a href="http://www.iglta.org/listing/?lid=20238"><img src="/static/static/gg365/img/iglta_on.png" /></a>
                 <a href="http://www.facebook.com/GayGuide365"><img src="/static/static/gg365/img/fb.png" /></a>
                 <a href="http://www.twitter.com/GayGuide365"><img src="/static/static/gg365/img/twitter_off.png" /></a>
                 <a href="//plus.google.com/113599308236736496544?prsrc=3" rel="publisher" style="text-decoration:none;">
                 <img src="/static/static/gg365/img/icon_google_plus.png" alt="Google+" style="border:0;width:16px;height:16px;"/></a>
            </div>
        </div>
    </div>
         
         </div>
    </div>
</body>
</html>
