{% extends "gg365/base.html" %}

{% load sekizai_tags %}

{% block navigation %}
		<!-- HEADER NAVIGATION -->
		<div id="header-navigation">
			<div class="wrapper">
            <div class="body">
			
			<div class="left">
				<div class="navigation">
					<div class="places activ">
						<a href="" title=""><h2><span>Places</span></h2></a>
					</div>
					
					<div class="events">
						<a href="" title=""><h2><span>Events</span></h2></a>
					</div>
				</div>
			</div>
			
			<div class="right">
				<div class="search">
					<div class="body">
						<div class="left">
						<input type="text" value="Enter keywords to search..." />
						</div>
						<div class="right">
							<div class="button"></div>
						</div>
					</div>
				</div>
			</div>

			</div>
            </div>
        </div>
               
    <div id="map_canvas" style="width:100%;height:300px;"></div>

    <div id="map_resizer" style="height:23px;width:100%;background:transparent url(img/bg_map_resizer.png) repeat-x;float:left;color:#3B0B1F;text-align:center;font-size:20px;">
        <div style="width:200px;margin:auto;" id="map_resizer_x">
            &#149;&nbsp;&#149;&nbsp;&#149;
        </div>
    </div>
 
   <!-- <script type="text/javascript" src="js/maps.js"></script> -->
	<div style="width:100%;background:transparent url(img/background_gradient.png) repeat-x top;">
		
	<div class="clear"></div>
	
	<!-- DIRECTORY -->
	<div id="directory">
		<div class="body">
			<ul>
			<li><a href="" title="">Evropa</a></li>
			<li><a href="" title="">Česká republika</a></li>
			<li><a href="" title="">Praha 2</a></li>
			<li class="last"><a href="" title="">Hotely</a></li>
			</ul>
		</div>
	</div>
	
	<div class="clear"></div>
       
{% endblock navigation %}

{% block base_body %}

	<div id="wrapper">
	<!-- ARTICLES -->
	<div id="search_page">
		<!-- ABOUT REPUBLIC -->
		<div class="background" style="margin-top:0;">
			<div class="body">
				<h2>Česká Republika - Praha</h2>
				<div class="line"></div>
				
				<!-- IMAGE -->
				<div class="state_image">
					<img src="czech_republic.png" alt=""/>
				</div>
				<!-- INFO -->
				<p class="state_text">
				Lid tah ta duševně, 77 velkému nedáte, kusy do dal co kovalenko. Gumou desátém znají 
				vyčistil z svědkové, či odpor bychom, přivodil k svini horlivostí, 11 od hup šatech daleké. 
				Křivé agenti au dům vyndat uchváceni i bezděčného. Hup bota slon ženě s čas o módě hoď lásku 
				před víc žen usychala. Mými, být 77 lojzík hm pověsí rodinných. Komisaře vyhlídce 
				prokristapána, že rád potěšila do uvažoval ba cín tázavě věk nesmí. Pije, staly až kulí 
				pevnosti patrnou uhoď koží pěstují hrd, děj prve mé i věc stála hráz.
				</p>
				
				<!-- BUTTON: MORE -->
				<div class="right" style="margin-bottom:10px;">
				<div class="button-more">
					<a href="" title=""><div class="icon"><span>Více informací</span></div></a>
				</div>
				</div>
				
			</div>
		</div> 
		
		<div class="clear"></div>
		
		<!-- BANNER -->
		<div class="banner">
			<img src="img/banner750x90.png" alt="" />
		</div>
		
		<div class="clear"></div>
		
		<!-- MAIN ARTICLES -->
		<div class="background" style="margin-top:5px;">
			<div class="body">
				<!-- NADPIS -->
				<h2>Praha - ubytování (42/132)</h2>
				<div class="line"></div>
				
				<!-- PODKATEGORIE -->
				<div class="tags">
					<div class="name">Podkategorie:</div>
					<div class="tag"><span><a href="{% url place_list slug='hotel' %}">Hotel</a></span></div>
					<div class="tag"><span><a href="{% url place_list slug='resturant' %}">Restaurace</a></span></div>
					<div class="tag"><span><a href="{% url place_list slug='bar' %}">Bar</a></span></div>
					<div class="tag"><span>Moře</span></div>
					<div class="tag"><span>Hotel u pláže</span></div>
					<div class="tag"><span>Autobus</span></div>
					<div class="tag"><span>Divadlo</span></div>
					<div class="tag"><span>Divadlo</span></div>
					<div class="tag"><span>Divadlo</span></div>
					<div class="tag"><span>Divadlo</span></div>
					<div class="tag"><span>Divadlo</span></div>
					<div class="tag"><span>Divadlo</span></div>
					<div class="tag"><span>Divadlo</span></div>
				</div>
				
				<!-- TAGY -->
				<div class="tags">
					<div class="name">Tagy:</div>
					<div class="tag"><span>Hotel</span></div>
					<div class="tag"><span>Restaurace</span></div>
					<div class="tag"><span>Moře</span></div>
					<div class="tag"><span>Hotel u pláže</span></div>
					<div class="tag"><span>Autobus</span></div>
					<div class="tag"><span>Divadlo</span></div>
				</div>
				
				<div class="clear"></div>
				
				<!-- LINKA -->
				<div class="line"></div>
				
				<div class="clear"></div>
				
				<!-- JQUERY TOOLTIP -->
				<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
				<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
				<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  
  
				 <script>
				  $(function() {
				    $( document ).tooltip({
				      position: {
				        my: "center bottom-20",
				        at: "center top",
				        using: function( position, feedback ) {
				          $( this ).css( position );
				          $( "<div>" )
				            .addClass( "arrow" )
				            .addClass( feedback.vertical )
				            .addClass( feedback.horizontal )
				            .appendTo( this );
				        }
				      }
				    });
				  });
				 </script>

				 <style>
				  .ui-tooltip, .arrow:after {
				    background: #CB3E7B;
				    border: 2px solid #d55a90;
				  }
				  .ui-tooltip {
				    color: #FFF;
				    border-radius: 20px;
				    font-family: Verdana;
				    font-size: 12px;
				    text-transform: uppercase;
				    box-shadow: 0 0 7px black;
				  }
				  .arrow {
				    width: 70px;
				    height: 16px;
				    overflow: hidden;
				    position: absolute;
				    left: 50%;
				    margin-left: -32px;
				    bottom: -16px;
				  }
				  .arrow.top {
				    top: -15px;
				    bottom: auto;
				  }
				  .arrow.left {
				    left:20%;
				  }
				  .arrow:after {
				    content: "";
				    position: absolute;
				    left: 20px;
				    top: -20px;
				    width: 25px;
				    height: 25px;
				    box-shadow: 6px 5px 9px -9px black;
				    -webkit-transform: rotate(45deg);
				    -moz-transform: rotate(45deg);
				    -ms-transform: rotate(45deg);
				    -o-transform: rotate(45deg);
				    tranform: rotate(45deg);
				  }
				  .arrow.top:after {
				    bottom: -20px;
				    top: auto;
				  }
				  </style>


{% load endless %}

{% paginate 3 object_list %}
{% for object in object_list %}
	
				<!-- PLACES: 4 -->
				<div class="place">
					<div class="leftside">
						<img src="{{ object.profile_picture }}" alt="" width="160" height="120" />
					</div>
					
					<div class="rightside">
						<div style="width:415px; float:left;">
						<a href="{{ object.get_absolute_url }}" title="{{ object.name }}"><h3>{{ object.name }}</h3></a>
						<span class="adress">Veletrřní 123, Praha 9, 190 00</span>
						</div>


					<!-- PLACE MEDALS >
					<div class="medals">
						<a href="#" title="Gay"><img src="img/place_medals/gay.png"></a>
						<a href="#" title="Gay friendly"><img src="img/place_medals/gay-friendly.png"></a>
						<a href="#" title="Gay owned"><img src="img/place_medals/gay-owned.png"></a>
						<a href="#" title="Gay staff"><img src="img/place_medals/gay-staff.png"></a>
					</div-->

					<!-- TEXT -->
					<p>
						{{ object.perex }}
					</p>
					</div>
					
					<div class="clear"></div>
					
					<div class="buttom_information">
					<div class="left">
					  <div class="buttons">
					  <!-- 
						<div class="button">
							<div class="like"><div class="icon"><span>Libí se 156 uživatelům</span></div></div>
						</div>
						
						<div class="button">
							<div class="comments"><div class="icon"><span>Komentářů: 34</span></div></div>
						</div>
					-->
					  </div>
					</div>
					
					<div class="right" style="margin-right:6px;">
						<div class="button-more">
							<a href="{{ object.get_absolute_url }}" title=""><div class="icon"><span>Více informací</span></div></a>
						</div>
					</div>
					</div>

				</div>
{% endfor %}

			</div>
			
	<div id="pagenation" style="float:right;">
	{% show_pages %}
	</div>
	{% if is_paginated %}
        	<div id="pagenation" style="float:right;">

                {% if page_obj.has_previous %}
					<a href="{% url place_list %}?page={{ page_obj.previous_page_number }}" title=""><div class="box"><span>« Předchozí</span></div></a>
                {% endif %}

                {% if page_obj.has_next %}
                	<a href="{% url place_list %}?page={{ page_obj.next_page_number }}" title=""><div class="box"><span>Další »</span></div></a>
                {% endif %}

			</div>
    {% endif %}
   		</div>
		
		<div class="clear"></div>
		
		<!-- BANNER -->
		<div class="banner">
			<img src="{{STATIC_URL}}gg365/img/banner750x90.png" alt="" />
		</div>
		
	</div>

	<div class="clear"></div>
        
	</div>

{% endblock %}