{% load i18n %}
<a href="/admin/">admin</a>
<p><a href="/dashboard/place/">uživatelská administrace</a>

{% get_current_language as LANGUAGE_CODE %}
{{LANGUAGE_CODE}}
<form action="{% url 'set_language' %}" method="post">
{% csrf_token %}
<input name="next" type="hidden" value="{{ redirect_to }}" />
<select name="language">
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
    {{ language.name_local }} ({{ language.code }})
</option>
{% endfor %}
</select>
<input type="submit" value="Go" />
</form>