{% extends "gg365/dashboard/place/base.html" %}
{% load i18n %}
{% block content %}
<!-- ADD PLACE OR EVENT -->
<h2>{% trans "Places" %}</h2>
        <div class="line"></div>
<div id="no-ahref-decoration">

<div class="add-place">
    <a href="{% url "gg365:dashboard:place:add" %}"><div class="text"><div class="icon">Add new place</div></div></a>
</div>

<!-- PLACE -->
{% for place in places %}
    <a href="{% url "gg365:dashboard:place:basic_info" place.id_hash %}" title=""><div class="result-place"><div class="text">{{place}}</div></div></a>
{% endfor %}
</div>

{% endblock content %}
{% block subnavigation %}{% endblock subnavigation %}