{% load i18n %}
<li {% if menu2 == "basic_info" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:place:basic_info" place.id_hash %}">Basic info</a></li>
<li {% if menu2 == "location" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:place:location" place.id_hash %}">Location</a></li>
<li {% if menu2 == "contact" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:place:contact" place.id_hash %}">Contact</a></li>
<li {% if menu2 == "billing" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:place:billing" place.id_hash %}">Billing</a></li>
<li {% if menu2 == "opening_hours" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:place:opening_hours" place.id_hash %}">Opening hours</a></li>
<li {% if menu2 == "galleries" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:place:galleries" place.id_hash %}">Galleries</a></li>
<li {% if menu2 == "videogalleries" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:place:videogalleries" place.id_hash %}">Video galleries</a></li>
<!-- <li {% if menu2 == "premium" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:place:premium_packages" place.id_hash %}">Premium</a></li> -->
<li {% if menu2 == "settings" %}class="activ"{% endif %}><a href="{% url "gg365:dashboard:place:settings" place.id_hash %}">Settings</a></li>
<li><a href="{% url "gg365:dashboard:preview:place" place.id_hash %}" target="blank"><button>Preview</button></a></li>