{% extends "gg365/dashboard/place/base.html" %}
{% load i18n %}
{% block content %}
<style type="text/css">
#form.text input {width: 270px; }

ul.errorlist {margin: 0;}
</style>
<form action="" method="post">
    <h2>Upravit profil místa: {{place.name}}</h2>
    <div class="line"></div>
    {% csrf_token %}
    {% for field in form %}
        <div id="form" class="text">
            <div class="title"><span>{{field.label}}</span></div>
            {{field}}
        </div>
        <div id="form" class="text" style="height:100%;">
            {{field.errors}}
        </div>
    {% endfor %}
    <div class="right" style="margin-bottom:10px; margin-top:5px;">
        <div class="button-more">
            <input type="submit" value="Save">
        </div>
    </div>
</form>
<div id="form" class="text" style="height:100%;">
    <h3>Info</h3>
    <p>Package ...</p>
</div>
{% endblock content %}