{% extends "gg365/dashboard/place/base.html" %}
{% load i18n %}
{% block content %}
<style type="text/css">
#form.text {height: 100%; }
#form.text input {width: 270px; }

ul.errorlist {margin: 0;}
</style>
<h2>Settings</h2>
<div class="line"></div>
<div id="form" class="text">
    <div class="title"><span>{% trans "Delete place" %}</span></div>
    <div class="right" style="margin-bottom:10px; margin-top:5px;width:270px;">
        <div class="button-more">
            <a href="#" onclick="if (confirm('{% trans "Are you sure?" %}')) { $.get('{% url "gg365:dashboard:place:delete" place.id_hash %}'); window.location = '{% url "gg365:dashboard:place:list" %}' }">{% trans "Delete place" %}</a>
        </div>
    </div>
    <div class="title"><span>{% trans "Status change" %}</span></div>
    <div class="right" style="margin-bottom:10px; margin-top:5px;width:270px;">
        <div class="button-more">
            <a id="status_toggle" href="#" onclick="if (confirm('{% trans "Are you sure?" %}')) $.get('{% url "gg365:dashboard:place:status_toggle" place.id_hash %}', function(data){if(data == 'u') {$('#status_toggle').html('{% trans "Publish" %}');} else {$('#status_toggle').html('{% trans "Unpublish" %}');};});">{% if place.model_status == "u" %}{% trans "Publish" %}{%else%}{% trans "Unpublish" %}{%endif%}</a>
        </div>
    </div>
</div>
{% endblock content %}