{% extends "gg365/front/base.html" %}
{% load cms_tags sekizai_tags %}
{% block body %}
<div class="background" style="margin-top:0;">
    <div id="places" style="padding:5px">
        {% cms_toolbar %}
        {% placeholder base_content %}
    </div>
</div>
{% endblock body %}