{% extends "gg365/base.html" %}
{% block navigation %}
<div id="header-navigation">
    <div class="wrapper">
    <div class="body">
    
    <div class="left">
        <div class="navigation">
            <div class="places activ">
                <a href="" title=""><h2><span>Places</span></h2></a>
            </div>
            
            <div class="events">
                <a href="" title=""><h2><span>Events</span></h2></a>
            </div>
        </div>
    </div>
    
    <div class="right">
        <div class="search">
            <div class="body">
                <div class="left">
                <input type="text" value="Enter keywords to search...">
                </div>
                <div class="right">
                    <div class="button"></div>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>
</div>
{% endblock navigation %}