{% extends "gg365/dashboard/base.html" %}
{% load i18n %}
{% block subnavigation_ %}
<div class="subnavigation">
    <div class="body">
        <ul>
            <!-- class="activ" -->
            {% include "gg365/dashboard/place/menu.html" %}
        </ul>
    </div>
</div>
{% endblock subnavigation_ %}
{% block body %}
    <div class="background" style="background:#262833; width:500px;">
        <div class="body">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <!-- RIGHT PANEL -->    
    <div class="background" style="background:#464a60; width:250px;">
        <div class="body">
            <div class="help">
                <!-- NADPIS -->
                <h2 class="nobold">Nápověda</h2>
                <div class="line"></div>
                    {% block help %}
                        <!-- TEXT -->
                        <h3>Zem čáry ó dře gumou zajel krámy krade</h3>
                        <p>Hrát, pomáhám hodí pařízková. Kopl he hubatou bratrovi k spacím mě, lokálech ex nu obraceje 56 divadlo lidmi, vrátit do čí ó cela vešel.</p>     

                        <h3>Zem čáry ó dře gumou zajel krámy krade</h3>
                        <p>Hrát, pomáhám hodí pařízková. Kopl he hubatou bratrovi k spacím mě, lokálech ex nu obraceje 56 divadlo lidmi, vrátit do čí ó cela vešel.</p> 

                        <h3>Zem čáry ó dře gumou zajel krámy krade</h3>
                        <p>Hrát, pomáhám hodí pařízková. Kopl he hubatou bratrovi k spacím mě, lokálech ex nu obraceje 56 divadlo lidmi, vrátit do čí ó cela vešel.</p> 

                        <h3>Zem čáry ó dře gumou zajel krámy krade</h3>
                        <p>Hrát, pomáhám hodí pařízková. Kopl he hubatou bratrovi k spacím mě, lokálech ex nu obraceje 56 divadlo lidmi, vrátit do čí ó cela vešel.</p> 

                        <h3>Zem čáry ó dře gumou zajel krámy krade</h3>
                        <p>Hrát, pomáhám hodí pařízková. Kopl he hubatou bratrovi k spacím mě, lokálech ex nu obraceje 56 divadlo lidmi, vrátit do čí ó cela vešel.</p> 
                    {% endblock help %}
                <a href="" title=""><div class="button-faq">FAQ (často kladené otázky)</div></a>
            </div>
        </div>
    </div>
{% endblock body %}
